[2019-12-17 10:10] blueww opened #327 "Container_ListBlobFlatSegment： The UncommittedBlob should have lenght as 0, but list blob return length is not 0."
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.3.0-preview
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VS code
### What's the Node.js version?
v10.15.3
### What problem was encountered?
Container_ListBlobFlatSegment： The UncommittedBlob (Only has Uncommitted blocks) should have lenght as

[2019-12-17 10:16] blueww opened #328 "BlockBlob_StageBlock： Should fail on page blob"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.3.0-preview
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VS code
### What's the Node.js version?
v10.15.3
### What problem was encountered?
BlockBlob_StageBlock Should fail on page blob， but now success
### Steps to reproduce the issue?
1. Pa

[2019-12-17 10:19] sangeetha5491 commented on #277
@XiaoningLiu sure. I had a very busy last few weeks which is why I was not able to work on it immediately. Sorry about that. I'll take a look at other open issues when I get time.

[2019-12-17 14:47] fbonds commented on #301
Thank you.  We look forward to the fix.  We'd really like to use this going forward, but are blocked by this issue in doing so.

[2019-12-18 01:26] timuralp commented on #282
@XiaoningLiu Thank you for adding the test and looking into it. This looks like a deficiency in the python libraries. I tracked these down to the following differences:
The response from Microsoft Azure is prepended with a unicode zero-width no-break space character U+FEFF (https://www.fileformat.info/info/unicode/char/feff/index.htm).

Here is what the response from Microsoft Azure Blob looks lik

[2019-12-18 01:26] #282 closed

[2019-12-18 02:30] blueww opened #329 "BlockBlob_StageBlock： upload a block with zero bytes should fail"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.3.0-preview
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VS code
### What's the Node.js version?
v10.15.3
### What problem was encountered?
BlockBlob_StageBlock： upload a block with zero bytes should fail
### Steps to reproduce the issue?
[co

[2019-12-18 02:36] blueww opened #330 "Blob_SetHTTPHeaders/Blob_SetMetadata： Etag not change"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.3.0-preview
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VS code
### What's the Node.js version?
v10.15.3
### What problem was encountered?
Blob_SetHTTPHeaders： Etag not change
### Steps to reproduce the issue?
blob.SetProperties() won't chan

[2019-12-18 03:16] blueww opened #331 "Blob_SetMetadata： Fail with 403 when use HttpRequestHandler.SetHeader in request OperationContext"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.3.0-preview
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VS code
### What's the Node.js version?
v10.15.3
### What problem was encountered?
Blob_SetMetadata： Fail with 403 when use HttpRequestHandler.SetHeader in request OperationContext
###

[2019-12-18 03:24] blueww opened #332 "Blob_SetHTTPHeaders：On page blob, set sequence-number doesn't update the blob"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.3.0-preview
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VS code
### What's the Node.js version?
v10.15.3
### What problem was encountered?
Blob_SetHTTPHeaders：On page blob, set sequence-number doesn't update the blob.
Like set  sequence-numb

[2019-12-18 03:42] blueww opened #333 "PageBlob_UploadPages： Write out-of-range pages should fail"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.3.0-preview
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VS code
### What's the Node.js version?
v10.15.3
### What problem was encountered?
PageBlob_UploadPages： Write out-of-range pages should fail
### Steps to reproduce the issue?
Create a

[2019-12-18 04:09] blueww opened #334 "Blob Etag format is not correct"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.3.0-preview
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VS code
### What's the Node.js version?
v10.15.3
### What problem was encountered?
Blob Etag format is not correct, it should match {^"0x[A-F0-9]{15,}"$}, like "0x8D7836AF7536BC0"
But t

[2019-12-18 05:05] XiaoningLiu opened #335 "Feature to block requests with un supported headers"

[2019-12-18 05:09] XiaoningLiu opened #336 "Update blob CORS align with Queue; Check CORS response headers when returning error message;"

[2019-12-18 05:16] XiaoningLiu opened #337 "Triage & Fix issues reported by CPP SDK"
- [X] 1. When breaking a lease with a peroid, the lease is directly broken ignorant the period.
@blueww has fixed this.

- [x] 2. Blob's Etag isn't updated after metadata is changed.
@blueww will fix in https://github.com/Azure/Azurite/issues/330

- [X] 3. Cannot put empty block list to craete an empty blob.
Fixed in https://github.com/Azure/Azurite/commit/6af3cc17dc194d3dc39147f73f1fc52f635ec782

[2019-12-18 06:57] blueww opened #338 "Fix Lease failed cases in .net SDK test"
### Which service(blob, file, queue, table) does this issue concern?

### Which version of the Azurite was used?

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)

### What's the Node.js version?

### What problem was encountered?

### Steps to reproduce the issue?

### Have you found a mitigation/solution?

[2019-12-18 07:20] blueww commented on #335
duplicated with https://github.com/Azure/Azurite/issues/313

[2019-12-18 07:20] #335 closed

[2019-12-18 07:22] blueww commented on #311
Fail with missing Allowed header.
Should be fixed, will test again.

[2019-12-18 07:31] blueww commented on #313
Please fix https://github.com/Azure/Azurite/issues/300 (syncCopyFromURL)

[2019-12-18 07:34] blueww commented on #313
Please fix https://github.com/Azure/Azurite/issues/298

[2019-12-18 07:36] blueww commented on #296
We should block Set premium page blob tier

[2019-12-18 07:40] #294 closed

[2019-12-18 07:41] blueww commented on #293
Fixed

[2019-12-18 07:41] #293 closed

[2019-12-18 07:43] blueww commented on #289
Fixed

[2019-12-18 07:43] #289 closed

[2019-12-18 07:45] blueww commented on #277
Fixed

[2019-12-18 07:45] #277 closed

[2019-12-18 08:11] ljian3377 opened #339 "[queue] getQueueClient QueueNotFound error detail doesn't align"
### Which service(blob, file, queue, table) does this issue concern?
queue
### Which version of the Azurite was used?
3.3.0-preview
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm
### What's the Node.js version?
v12.13.0
### What problem was encountered?
Unit test failure:
[code]

[code]

### Debug
Azurite puts `QueueNotFound` in `err.details.Code`.

[2019-12-18 09:48] XiaoningLiu commented on #301
Believe this is same with https://github.com/Azure/Azurite/issues/304 and get fix checked into dev branch. Please confirm if dev branch works for you.

[2019-12-18 11:58] yoadsn commented on #302
Setting the Location specifically to some folder under the user home directory does not change the outcome.
The queue succeeds and the blob fails with the weird EROFS problem.

[2019-12-18 13:37] XiaoningLiu commented on #304
Fix has been merged into dev branch.

[2019-12-18 13:37] #304 closed

[2019-12-18 13:38] XiaoningLiu commented on #312
This is caused by Azurite requires AllowedOrigins and AllowedMethods. dev branch has updated them to be optional.

[2019-12-18 13:38] #312 closed

[2019-12-18 14:18] XiaoningLiu commented on #302
@yoadsn Confirmed it's a bug. Added a fix.

[2019-12-18 14:57] XiaoningLiu commented on #306
@blueww Added fix, please review PR #342 .

[2019-12-18 14:59] XiaoningLiu commented on #336
Fixed merged into dev branch. https://github.com/Azure/Azurite/pull/340

[2019-12-18 14:59] #336 closed

[2019-12-18 16:55] fbonds commented on #301
I don't see the change.

$ git fetch
$ git checkout --track origin/dev
Branch 'dev' set up to track remote branch 'dev' from 'origin'.
Switched to a new branch 'dev'
$ git pull
Already up to date.

[2019-12-19 09:38] blueww commented on #311
64 Origins works. But 65 Origins won't fail, so the case still fail.
65 not fail is tracked in https://github.com/Azure/Azurite/issues/310, so close this issue, as the original issue fixed.

[2019-12-19 09:38] #311 closed

[2019-12-20 02:06] blueww commented on #338
Fixed

[2019-12-20 02:06] #338 closed

[2019-12-20 02:06] blueww commented on #326
Fixed.

[2019-12-20 02:07] #326 closed

[2019-12-20 02:07] blueww commented on #308
Fixed.

[2019-12-20 02:07] #308 closed

[2019-12-20 02:15] blueww opened #345 "Service_SetProperties： Should report error when try to set more than 5 cors rules"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.3.0-preview
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VS code
### What's the Node.js version?
v10.15.3
### What problem was encountered?
Service_SetProperties： Azurite don't report error when try to set more than 5 cors rules, this is not

[2019-12-20 02:19] blueww commented on #345
@XiaoningLiu
Please help to fix this with Cors issues together.
As we discussed before, this negative case doesn't meet the GA bar, don't don't add ga label.

[2019-12-20 08:46] blueww opened #346 "Upload 100GB block blob failed on BlockBlob_CommitBlockList"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.3.0-preview
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VS code
### What's the Node.js version?
v10.15.3
### What problem was encountered?
Upload 100GB block blob failed on BlockBlob_CommitBlockList
And, After the files count in __blobstorag

[2019-12-21 07:26] ManfredLange opened #347 "Frequent "internal server error" in CloudQueue.GetMessage() / GetMessageAsync()"
### Which service(blob, file, queue, table) does this issue concern?

queue

### Which version of the Azurite was used?

V3 via latest docker container image, sha256:10f72c1ff978851171b3130371a6885beb888c4ce5691b49aa305968fa1404e9

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)

DockerHub using `docker pull mcr.microsoft.com/azure-storage/azurite`

### What's t

[2019-12-22 07:48] XiaoningLiu commented on #332
In incoming request header, `Update` is used while in RESTful doc, action should be `update`.

[code]

https://docs.microsoft.com/en-us/rest/api/storageservices/set-blob-properties#request-headers-page-blobs-only

[2019-12-22 07:50] XiaoningLiu commented on #332
Will update swagger to accept `Update` `Max` and `Increment`

[2019-12-22 07:51] XiaoningLiu commented on #347
@ManfredLange I recently fixed a race condition reported by this issue https://github.com/Azure/Azurite/issues/288. Please try with latest dev branch commit to see if it resolve your issue.

[2019-12-22 09:09] XiaoningLiu commented on #323
Cannot reproduce, added a test case covering this in #349

[2019-12-22 09:09] XiaoningLiu commented on #327
Added fix in #348

[2019-12-22 09:13] XiaoningLiu commented on #301
@fbonds Please check if this https://github.com/Azure/Azurite/commit/6af3cc17dc194d3dc39147f73f1fc52f635ec782 commit is in your local dev branch

[2019-12-23 02:25] XiaoningLiu opened #351 "Improve loki persistency fs adapter for larger scale"

[2019-12-23 03:46] XiaoningLiu opened #353 "Add test cases for GC implementation"

[2019-12-23 06:05] ManfredLange commented on #347
Thank you, @XiaoningLiu !

What I tried is this: I set up a dev container, then took the latest commit from master. I also added `.gitattributes` to ensure line endings are chosen correctly (Windows as host, Linux in Docker), and I also switched to a **non-alpine** base image. Furthermore locally I added `.dockerignore` to ensure only required folders/files are used when building the docker image.

[2019-12-23 06:05] #347 closed

[2019-12-24 08:40] blueww opened #361 "Handle double quotation marks difference of etag in get/list blob, in a way with better performance"
In PR https://github.com/Azure/Azurite/pull/359, we have get following behavior to align with server behavior:

- List blob request returned blob etag, don't containes double quotation marks. Like `d-7Ryid+jRoAiM6Mc0yW5fg7UwUKo`
- Get Blob request (and other blob request) returned blob etag, containes double quotation marks, like: `"d-7Ryid+jRoAiM6Mc0yW5fg7UwUKo"`

But to return the list result wi

[2019-12-25 02:33] blueww commented on #330
PR already merged

[2019-12-25 02:33] #330 closed

[2019-12-25 03:00] XiaoningLiu commented on #351
done.

[2019-12-25 03:00] #351 closed

[2019-12-25 03:00] XiaoningLiu commented on #346
Synced with @blueww, 100GB upload/download for blockblob and pageblob both successfully.

[2019-12-25 03:00] #346 closed

[2019-12-25 03:16] XiaoningLiu commented on #339
Latest dev branch doesn't have this issue.
![image](https://user-images.githubusercontent.com/6889160/71430630-fc567400-2707-11ea-8698-51432abf0462.png)

√ can create and delete a queue (60ms)

[2019-12-25 03:16] #339 closed

[2019-12-25 03:33] XiaoningLiu commented on #314
Fixed in https://github.com/Azure/Azurite/pull/363

[2019-12-25 03:33] #314 closed

[2019-12-25 03:34] #337 closed

[2019-12-25 03:36] XiaoningLiu commented on #334
Synced offline @blueww will help update etag format, but it's not GA blocker.

[2019-12-25 03:39] XiaoningLiu commented on #333
Negative check, will update after ga release.

[2019-12-25 03:48] XiaoningLiu commented on #331
Undocumented behavior for Constructing the canonicalized headers string https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-with-shared-key#constructing-the-canonicalized-headers-string

Marker as post ga item

[2019-12-25 03:51] XiaoningLiu commented on #329
Negative undocumented behavior, post ga item.

https://docs.microsoft.com/en-us/rest/api/storageservices/put-block

[2019-12-25 03:53] XiaoningLiu commented on #328
Negative case, marked as post ga item

[2019-12-25 03:53] #327 closed

[2019-12-25 03:53] #323 closed

[2019-12-25 03:59] XiaoningLiu commented on #322
$root container is not supported yet

[2019-12-25 04:07] XiaoningLiu commented on #321
It's a limitation of swagger autorest generated model, which ignores the order betwen blobprefixs and blobitems. blobprefixs and blobitems separately have orders. Need workaround for `listBlobHierarchySegment`.

[2019-12-25 04:10] XiaoningLiu commented on #320
Undocumented behavior, will fix post ga.

[2019-12-25 04:11] XiaoningLiu commented on #313
Azurite now uses strict mode by default, and bypass strict mode by `--loose` option.

[2019-12-25 04:11] #313 closed

[2019-12-25 04:12] XiaoningLiu commented on #318
Undocumented negative behavior, will fix post ga.

docs.microsoft.com/en-us/rest/api/storageservices/get-blob

[2019-12-25 04:15] XiaoningLiu commented on #317
Undocumented negative case. It's by design Azurite ignores unrecgnoized DefaultServiceVersion in request body.

[2019-12-25 04:16] XiaoningLiu commented on #310
Negative case, handle post ga.

[2019-12-25 04:17] XiaoningLiu commented on #307
fixed in dev branch.

[2019-12-25 04:17] #307 closed

[2019-12-25 04:17] #306 closed

[2019-12-25 04:19] XiaoningLiu commented on #305
401 will be returned when bearer challenge enabled.
managed fe will return 404 without bearer challenge.
native fe will return 403.

Azurite cannot align with all scenarios and currently uses 403

[2019-12-25 04:19] #305 closed

[2019-12-25 04:21] XiaoningLiu commented on #300
Fixed. Also added strict mode to block unsupported headers.

[2019-12-25 04:21] #300 closed

[2019-12-25 04:22] XiaoningLiu commented on #296
premium page blob tier already blocked.

[2019-12-25 04:22] #296 closed

[2019-12-25 04:23] XiaoningLiu commented on #285
@peter-bannerflow blob cors supported added into dev branch and will be release soon

[2019-12-25 07:11] XiaoningLiu commented on #298
Fixed in #298

[2019-12-25 07:11] #298 closed

[2019-12-25 07:31] XiaoningLiu commented on #295
Cannot confirm it's Azurite or JS SDK issue. Needs further investigation.

[2019-12-25 09:34] blueww opened #364 "BlobBatchDelete: Azurite report Internal Server Error"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.3.0-preview
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VS code
### What's the Node.js version?
v10.15.3
### What problem was encountered?
BlobBatchDelete: Azurite report Internal Server Error
It should return: "Current API is not implemente

[2019-12-25 13:00] XiaoningLiu commented on #364
Fixed and aligned all error type for un supported APIs.

[2019-12-25 13:00] #364 closed

[2019-12-26 03:32] blueww opened #367 "Blob_Download: download a specified range should returns 206 (Partial Content), instead of 200"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.3.0-preview
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VS code
### What's the Node.js version?
v10.15.3
### What problem was encountered?
Per https://docs.microsoft.com/en-us/rest/api/storageservices/get-blob,
A successful operation to read

[2019-12-26 06:41] XiaoningLiu commented on #367
Fixed in https://github.com/Azure/Azurite/pull/369

[2019-12-26 06:58] blueww opened #370 "BlockBlob_CommitBlockList: commit Empty blocklist, the create block blob don't have Created time"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.3.0-preview
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VS code
### What's the Node.js version?
v10.15.3
### What problem was encountered?
BlockBlob_CommitBlockList: commit Empty blocklist, the create block blob don't have Created time
### S

[2019-12-26 07:14] blueww opened #371 "BlockBlob_Upload: should fail with 409 when upload to exist blob with write-only sas"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.3.0-preview
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VS code
### What's the Node.js version?
v10.15.3
### What problem was encountered?
BlockBlob_Upload: should fail with 409 when upload to exist blob with write-only sas
### Steps to repr

[2019-12-26 07:39] XiaoningLiu commented on #370
Fixed in https://github.com/Azure/Azurite/pull/369

[2019-12-26 07:41] XiaoningLiu opened #372 "Check for uncommitted block count, comitted blocks count; page blob size;"

[2019-12-26 08:06] XiaoningLiu opened #374 "blob should use Commitblocklist time instead of stage block time"

[2019-12-26 08:18] #370 closed

[2019-12-26 08:18] #367 closed

[2019-12-26 09:26] #285 closed

[2019-12-26 09:26] #288 closed

[2019-12-26 09:26] #302 closed

[2020-01-02 03:10] #274 closed

[2020-01-02 03:10] #272 closed

[2020-01-02 03:27] #270 closed

[2020-01-02 03:34] #264 closed

[2020-01-02 03:34] #259 closed

[2020-01-02 03:36] #249 closed

[2020-01-02 03:44] #248 closed

[2020-01-02 03:45] #235 closed

[2020-01-02 05:50] timuralp opened #377 "Please tag dockerhub images with the release versions"
Currently, I can only find the "latest" tag on dockerhub (https://hub.docker.com/_/microsoft-azure-storage-azurite). It would be great to be able to pin to a specific dockerhub image when working with Azurite, as breaking changes may appear in new images (e.g. the strict/loose mode added in the 3.4 preview).

[2020-01-02 07:36] #233 closed

[2020-01-02 07:37] #230 closed

[2020-01-02 07:38] #221 closed

[2020-01-02 07:39] #218 closed

[2020-01-02 07:41] #217 closed

[2020-01-02 07:41] #173 closed

[2020-01-02 07:42] #152 closed

[2020-01-02 07:58] thisisthekap commented on #377
Tags can be found at https://mcr.microsoft.com/v2/azure-storage/azurite/tags/list

The current tag list:
`{
  "name": "azure-storage/azurite",
  "tags": [
    "3.1.0-preview",
    "3.1.1-preview",
    "3.1.2-preview",
    "3.2.0-preview",
    "3.3.0-preview",
    "3.4.0",
    "latest"
  ]
}`

[2020-01-02 08:01] #142 closed

[2020-01-02 08:02] #141 closed

[2020-01-02 08:02] #136 closed

[2020-01-02 08:03] #131 closed

[2020-01-02 08:04] #126 closed

[2020-01-02 08:04] #125 closed

[2020-01-02 08:05] #122 closed

[2020-01-02 14:59] timuralp commented on #377
Great! I'll be able to pin to a specific version through this. Might be useful to add this to the readme.

[2020-01-02 14:59] #377 closed

[2020-01-03 10:41] shivangag opened #378 "SharedKeyLite support for blob service"
### Which service(blob, file, queue, table) does this issue concern?
Blob service

### Which version of the Azurite was used?
Azurite v3

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
Github master branch

[2020-01-06 02:31] blueww commented on #378
@shivangag

Thanks for the request!

Would you please share the reason to use SharedKeyLite?
Is there any reason blocks you from switching to SharedKey?

[2020-01-06 06:17] #151 closed

[2020-01-06 06:18] #144 closed

[2020-01-06 11:00] shivangag commented on #378
@blueww, I am using [JCloud](https://jclouds.apache.org/) to create a multi cloud app. They currently only support SharedKeyLite based authorization for azure.
Therefore, for local testing it would be great if Azurite support it.

[2020-01-06 16:48] zidad opened #379 "Running azurite with a custom host name"
### Which service(blob, file, queue, table) does this issue concern?
blob

### Which version of the Azurite was used?
latest docker image

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
dockerhub

### What problem was encountered?
I'm trying to run azurite under a different host name, as required for docker-compose networking, per this question:
https://stackov

[2020-01-06 16:54] zidad commented on #379
In case of this error, I would at least expect a response that can be handled by the Azure Blob storage client instead of an empty response. Is there any workaround for this problem, or is it by design?

[2020-01-07 09:46] XiaoningLiu commented on #379
Hi @zidad, the error stack trace is from .net SDK, not sure it's a SDK issue or Azurite issue. Curious about   why there is an XmlException parsing issue when creating container operation. Can you enable Azurite debug.log and share here? I need to check what's the response body for Azurite, then we can check why .net SDK throws the exception.

[2020-01-07 10:34] zidad commented on #379
@XiaoningLiu that's a good pointer, thanks!

It looks indeed like the BlobContainerClient itself strips away the account name from the URL if you use anything else than localhost or an IP address, so the client generates this:

"PUT /images?restype=container HTTP/1.1" 400 -
instead of
"PUT /devstoreaccount1/images?restype=container" HTTP/1.1 201

As a really ugly workaround we can include the acco

[2020-01-07 10:42] #379 closed

[2020-01-07 10:58] zidad commented on #379
@XiaoningLiu I was thinking, if azurite could be started with something like  "--DefaultAccountName=devstoreaccount1" and it would accept URL's without requiring the account name to be in there, might solve the issue?

I can't imagine I'm the only one running into this issue, and I'd expect docker-compose for spinning up test dependencies will become a popular way of integration testing?

[2020-01-07 14:57] NiklasArbin opened #380 "Blob metadata forced lower case"
### Which service(blob, file, queue, table) does this issue concern?
Blob
### Which version of the Azurite was used?
3.4.0
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
DockerHub
### What's the Node.js version?
-
### What problem was encountered?
Blob metadata is lowercased
### Steps to reproduce the issue?
Store blob metadata in mixed casing. Retrieve blob an

[2020-01-08 03:00] XiaoningLiu commented on #379
Hi @zidad You can open an issue to storage .net SDK and see if they can improve the support for single word domain?

Single Azurite process supports multi storage account, so it's sounds not a good choice for Azurite fixing into one default storage account.

[2020-01-08 09:08] zidad commented on #379
"Azurite fixing into one default storage account." that could be optional based on the parameter?

I could argue that the SDK assumes a specific URL structure, and Azurite doesn't follow that structure, hence it can be considered a problem of the emulator.

Is there any other way to determine the account name for azurite? Isn't it passed in the headers, or a claim?

[2020-01-08 17:04] duranmg opened #381 "errors using --loose in docker-compose"
### Which service(blob, file, queue, table) does this issue concern?
blob

### Which version of the Azurite was used?
latest

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
docker pull mcr.microsoft.com/azure-storage/azurite

### What's the Node.js version?

### What problem was encountered?
When trying to run with --loose I get an error.

docker-compose.yml

[2020-01-09 00:35] chriswill opened #382 "Running Azurite as background process on Azure DevOps"
### Which service(blob, file, queue, table) does this issue concern?
All
### Which version of the Azurite was used?
3.4
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm
### What's the Node.js version?
12.13.0 (https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md)
### What problem was encountered?
I want to run Azurite i

[2020-01-09 04:04] blueww commented on #380
@NiklasArbin
Thanks for reporting the issue!
I can repro it, and see the metadata key will be lower case. (metadata value will keep case)
We will fix it in a future release.

[2020-01-09 06:24] XiaoningLiu commented on #382
Hi @chriswill

Please try `azurite &` in Linux, or `start /B azurite` in Windows cmd to start azurite in background

[2020-01-09 06:28] XiaoningLiu commented on #381
How about this `command: "azurite --blobHost 0.0.0.0 --queueHost 0.0.0.0 --loose"`?

[2020-01-09 06:39] XiaoningLiu commented on #379
Hi @zidad Azurite uses URL pattern `http://IP:Port/Account` which is well accpeted by Azure Storage, and should be supported by all storage SDKs.

[2020-01-09 07:39] blueww commented on #378
@shivangag
I might need more time to investigate/discuss this issue, and will update this issue when get any result.

[2020-01-09 11:35] shivangag commented on #378
@blueww, Is there any design reason to not include SharedKeyLite in blob service?
As I can see [here](https://github.com/Azure/Azurite/blob/6d444ef1ab6f2933d63ca5fffa07de3abffa8f12/src/queue/authentication/QueueSharedKeyAuthenticator.ts#L52) the queue service already supports it. I can open a PR with required changes following the queue service implementation.
Will that be fine?

[2020-01-09 12:35] zidad commented on #379
Hmm right, then it does seem like an issue with the client SDK... I'll file an issue

[2020-01-09 14:09] duranmg commented on #381
Yes!  Thanks that worked.

[2020-01-10 01:01] chriswill commented on #382
Thanks, that's helpful.

[2020-01-10 01:01] #382 closed

[2020-01-14 03:13] terurou commented on #115
Durable Entities doesn't work with Azurite v2.6.7.

* Microsoft.Azure.WebJobs.Extensions.DurableTask 2.1.1
* npm durable-functions 1.3.1
* Node.js 10.18.1

[2020-01-14 03:24] mouadbroos commented on #115
@priyaananthasankar sorry for the delayed response, I ran into a lot of problems trying to get azurite to work so I switched to using a VM running windows 10 with the official azure storage emulator!

[2020-01-15 07:45] hansmbakker commented on #381
@XiaoningLiu according to https://stackoverflow.com/questions/37366857/how-to-pass-arguments-to-entrypoint-in-docker-compose-yml it seems easier if Azurite's Dockerfile would use an `entrypoint` item, so that we would only need to specify additional parameters in the `command` item.

What do you think?

[2020-01-15 08:27] hansmbakker commented on #337
@XiaoningLiu

Can you link to the discussion about this? This is a functionality from Blob Storage that Azure Storage supports (see the [swagger file](https://github.com/Azure/Azurite/blob/6d444ef1ab6f2933d63ca5fffa07de3abffa8f12/swagger/blob-storage-2019-02-02.json)) and that is used by Microsoft NuGet packages (e.g. [`Microsoft.AspNetCore.DataProtection.AzureStorage`](https://www.nuget.org/packa

[2020-01-15 09:56] Kant8 commented on #337
New .NET Azure API throws exception on executing BlobClient.UploadAsync mentioning If-None-Match is not supported.
Event example from https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-dotnet doesn't work without loose mode.

[2020-01-15 14:33] AlbertDeFusco opened #383 "Error testing existence of a directory"
### Which service(blob, file, queue, table) does this issue concern?
Blob

### Which version of the Azurite was used?
Built the 3.4.0 docker container from commit

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
Github

### What's the Node.js version?

6.13.4

### What problem was encountered?
I use the [azure-storage-blob](https://github.com/Azure/azure-storage

[2020-01-16 07:17] XiaoningLiu commented on #337
Hi @hansmbakker @Kant8 Thanks for bring up this discussion.

Conditional header support (such as if-match) is tracked as candidate work items for Azurite, but not supported by Azurite 3.4.0 yet. We have it in backlog. Every release we will triage backlog items and features Azurite will support.

Completely matching all Azure Storage features needs great efforts, with limited resources, we choose t

[2020-01-16 07:27] XiaoningLiu commented on #381
Hi @hansmbakker I think you are right. Re-open this issue for tracking.

[2020-01-17 06:26] XiaoningLiu commented on #383
Hi @AlbertDeFusco That's quite interesting. I tested against a storage account on Azure Storage. HEAD a prefix instead of blob will return 404.

Please double check if there is a blob named "text" in your storage account.

![image](https://user-images.githubusercontent.com/6889160/72589099-372d7f80-3935-11ea-963d-7d9a4720b7f5.png)

![image](https://user-images.githubusercontent.com/6889160/7258911

[2020-01-21 14:58] torbjornvatn commented on #303
I also experienced this @blueww when my tests relying on Azurite started failing.
I use the https://godoc.org/github.com/Azure/azure-storage-blob-go/azblob#UploadStreamToBlockBlob function from https://github.com/Azure/azure-storage-blob-go

[2020-01-21 22:32] ayeltsov opened #384 "Document best approach to programmatically cleanup the persisted data"
Planning to use Azurelite for some unit tests, and need to wipe persisted data between some tests in reliable manner.

I'd like that documentation was explicit about resetting the state. I would just extend documentation somewhere after this example:

azurite -s -l c:\azurite -d c:\azurite\debug.log

E.g. something like this: "to cleanup persisted data, we recommend to kill the process, delete con

[2020-01-22 02:45] blueww commented on #384
@ayeltsov
Thanks for the suggestion!
We will investigate how to improve that.

[2020-01-22 04:13] blueww commented on #303
The check is still not implemented in Azurite.
We will priority it with all other feature requirements.

[2020-01-22 16:56] ayeltsov opened #385 "Adoption blocker: Access control based on conditional headers"
### Which service(blob, file, queue, table) does this issue concern?
Blob
### Which version of the Azurite was used?
3.4.0
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm
### What's the Node.js version?
n/a
### What problem was encountered?
SQL team would like to migrate unit tests of our "VFS" project from legacy emulator to Azurite since Azurite supports c

[2020-01-22 20:57] robhobbes commented on #271
I'd like to vote for this feature. How do we vote for issues?

[2020-01-24 04:07] crinitic opened #386 "AuthorizationFailure with curl"
### Which service(blob, file, queue, table) does this issue concern?
Blob

### Which version of the Azurite was used?
3.4.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm

### What's the Node.js version?
13.3.0

### What problem was encountered?
When I try to use azurite through the REST API, I keep getting a AuthorizationFailure response

### Steps to rep

[2020-01-30 21:55] jacek99 opened #388 "Docker image fails with multiple critical CVSS vulnerabilities"
We tried importing the Docker Azurite image, but our security tool (Twistlock) scans it for vulnerabilities and rejected the image:
[code]

Pls correct critical vulnerabilities and issues in the image

[2020-01-31 06:03] ayeltsov commented on #380
@blueww , @XiaoningLiu - I wanted to familiarize myself a bit with this emulator and code base, and dug a bit into the matter - especially that our team is also affected by the issue

It looks like the problem roots in API choice of transmitting custom metadata as HTTP key-value header pairs. And per HTTP RFC, the header keys are case-insensitive (see [discussion ](https://stackoverflow.com/questi

[2020-01-31 16:39] linusnorton commented on #386
I am also getting this issue - let me know if you find a solution

[2020-02-03 03:57] XiaoningLiu commented on #380
Hi guys,

Sorry for the late response as we are in holiday. Thanks for @ayeltsov 's investigation! For your question. `deserializer.middleware.ts` will deserialize incoming HTTP requests and initialize the option objects. While `HandlerMiddlewareFactory.ts` will invoke the handler methods and pass the option object values.

The deseriazalition code path is based on swagger generated artifacts and

[2020-02-03 04:02] XiaoningLiu commented on #385
Hi @ayeltsov

Sorry for the late response due to holiday. This is a feature request for conditional header, and I got your email too. Will sync with team for the Azurite next schedule and planning.

[2020-02-03 04:13] XiaoningLiu commented on #386
Hi Guys, sorry for the late response. We are in holiday these days. For your question, your request doesn't include a valid Authentication header value.

The value should be correctly generated.

Here the value provided in your curl request.
[code]

Here is the value Azurite expected:
[code]

[2020-02-03 04:20] XiaoningLiu commented on #388
Thanks for reporting! It seems we should update our base image used by docker build. Before we update the official image, you can try to build your own and update the base image in Dockerfile we used.

Is the tool Twistlock is open source? We'd like to integrate tools into our release pipeline to do aotumatically check in the future.

[2020-02-03 08:06] linusnorton commented on #386
@XiaoningLiu why does it expect that? The README.md says the default key is: ```Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==```

[2020-02-03 11:32] xiafu-msft commented on #282
Hi @Imazuel I'm still confused about the issue, I will send you the snapshot on teams ^_^

[2020-02-04 06:17] jongio opened #389 "Support Bearer Token Credentials"
### Which service(blob, file, queue, table) does this issue concern?
Blob
### Which version of the Azurite was used?
3.4.0
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm
### What's the Node.js version?
v12.13
### What problem was encountered?
Cannot use TokenCredentials

### Steps to reproduce the issue?

Try to access Azurite with Azure Storage SDK
[code]

[2020-02-04 06:21] jongio commented on #38
This is going to be needed to support the new Azure SDKs and DefaultAzureCredential, since TokenCredential requires HTTPS.  Would be great to see this implemented.

[2020-02-04 18:57] jongio commented on #389
To unblock the use of DefaultAzureCredential, I committed a naive implementation to my fork here: https://github.com/jongio/Azurite/commit/273e3b11e53c6eddd7f2c1e4ace8f68120e15213

It only checks for the existence of a bearer token right now.  It does not validate it in any way.

[2020-02-05 00:26] ayeltsov opened #390 "Should not send content-type=application/xml when content is empty"
### Which service(blob, file, queue, table) does this issue concern?
Blob
### Which version of the Azurite was used?
3.4.0
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm
### What's the Node.js version?
v12.14.1
### What problem was encountered?
When blob is not found, Azurite emulator returns no response, yet it sends content-type application/xml.
This brea

[2020-02-05 03:44] hannesne opened #391 "VSCode extension should create and use .azurite folder in current working directory when no location is specified"
### Which service(blob, file, queue, table) does this issue concern?
NA
### Which version of the Azurite was used?
v3
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
NA
### What's the Node.js version?
NA
### What problem was encountered?
The default lcoaiton for azurite to create it's files is the current working directory when invoked from the vscode extension.

[2020-02-06 01:07] gabrieljoelc commented on #263
I tried this again to no avail. Please, see context below.

### Application description

My application is a c# console app that runs as a webjob in Azure and relies on table storage. It has a custom Event Hub trigger that relies on Blob and Table storage through 2 app settings:
- `AzureWebJobsStorage` - webjob uses this URL to make requests to table storage
- `StorageConnectionString` - webjob us

[2020-02-06 03:09] tcfialho opened #392 "How to create queues?"
How to create queues?

[2020-02-06 04:19] blueww commented on #390
@ayeltsov
Thanks for reporting this issue!
Will look into it, and priority it with other Azurite feature request/bugs.

[2020-02-06 07:30] jongio commented on #38
As a stopgap to help customers use Azurite with HTTPS today. I posted a blog on how to use an HTTPS-HTTP reverse proxy in this blog post: https://blog.jongallant.com/2020/02/azurite-https-defaultazurecredential/

[2020-02-06 17:09] edwin-huber commented on #263
Hi,
the arafato repository is not maintained, and is a legacy artifact.
I've just updated the docs to remove this properly and hopefully avoid confusion.

We are not investing in maintaining the v2 version of the emulator, I understand that a lot of people are still relying on this to provide table storage support until we have a new cross platform emulator for table storage, and this requires bui

[2020-02-06 17:24] gabrieljoelc commented on #263
@edwin-huber thanks for the response.

The v2 emulator should only be used to provide table storage, as the other services are maintained in the v3 emulator.

I understand that V2 is deprecated but there's still no support for Table storage. As I explained in https://github.com/Azure/Azurite/issues/263#issuecomment-582687766, I already am pulling the V2 image for Table and the V3 image for Blob.

[2020-02-06 17:34] edwin-huber commented on #263
Maybe I am misunderstanding you.
When you say "pulling" the v2 image... what exactly are you doing?
There is no v2 Docker image that we provide.
This is the only thing that looks wrong with what you described above.

[2020-02-06 17:39] gabrieljoelc commented on #263
I am pulling from [`arafato/azurite`](https://hub.docker.com/r/arafato/azurite/) as described at the bottom of https://github.com/Azure/Azurite/issues/263#issuecomment-582687766:

[2020-02-06 18:15] edwin-huber commented on #263
that Docker repo is very outdated, so I can't give you any promises on it's functionality.
I'm also not using MacOS, but I don't think that should make a difference.
I setup my EventHub function project using the latest VSCode Azure Tools, which bootstrapped / scaffolded the function project for me.

I would try running the v3 emulator from gitrepo & command line :
[code]
If that works,  it sounds

[2020-02-07 05:36] blueww commented on #392
@tcfialho
You can use any SDK to create queue in Azurite.
Please follow ReadMe for how to start Azurite and how to set storage credential.
Do you meet any error when create queue?

[2020-02-08 15:49] nilshartmann commented on #379
Same or similar problem seems to be in the Java SDK. Using IP Address as host works, using a (docker) hostname does not.

[2020-02-09 13:05] XiaoningLiu commented on #391
Hi @hannesne That's a great feedback! We will consider this in next major release as a breaking change. Before that, please define Azurite location in Visual Studio settings.

![image](https://user-images.githubusercontent.com/6889160/74102575-bf432580-4b7f-11ea-8dc8-395dea76b867.png)

[2020-02-09 13:10] XiaoningLiu commented on #389
Hi @jongio I'm evaluating Bearer challenge or OAuth support for Azurite. It can be very simple, just like your implementation or suggestion to use a well known token. Or it can be very complex, to support more scenarios during OAuth authentication. It sounds like a well-known token fits your needs, right?

[2020-02-09 13:13] XiaoningLiu commented on #386
Authentication key header is dynamically generated every time. You can find out what Azurite expects in debug.log. Not recommend to use curl for debug with sharedkey. Try Azure Storage SDKs or Azure Storage Explorer.

[2020-02-09 13:15] XiaoningLiu commented on #378
Hi @shivangag PR is welcome!

[2020-02-09 13:42] linusnorton commented on #386
Can you point me to the documentation on this. Surely curl is the easiest way to see what is actually going on?

[2020-02-09 14:09] jongio commented on #389
I don’t need OAuth integration.

Options:

1. Real Token from AAD
- Not needed
2. Any Token:
- Works with live AAD or offline
- Do we have security concerns with enabling “any” token like my impl? I mean what is the difference between any token and Specific token from a security perspective?
- No SDK changes required. Will work without SDK dependency. But user will need to auth against valid Defau

[2020-02-10 03:53] ayeltsov commented on #390
More info: the root cause is that when we [create errors, we set content type and body](https://github.com/Azure/Azurite/blob/6d444ef1ab6f2933d63ca5fffa07de3abffa8f12/src/blob/errors/StorageError.ts#L52). However, we do that irrespective of the HTTP method (GET vs HEAD). However, per standard - [RFC 7231](https://tools.ietf.org/html/rfc7231#section-4.3.2), body should not be present for HEAD reque

[2020-02-10 05:14] blueww commented on #390
@ayeltsov
Thanks for the detail information!
We will consider it when fixing this issue.

[2020-02-10 18:51] jongio commented on #38
FYI - Storage Explorer update to support HTTPS on emulator screen is dependent on Azurite supporting HTTPS natively: See comment here: https://github.com/microsoft/AzureStorageExplorer/issues/2598#issuecomment-584290794

[2020-02-10 18:56] meinemitternacht opened #396 "Get Blob Metadata operation missing required last-modified header"
### Which service(blob, file, queue, table) does this issue concern?
blob

### Which version of the Azurite was used?
3.4.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm

### What's the Node.js version?
v12.15.0

### What problem was encountered?
When executing the "get blob metadata" command against a blob in a container, the PHP SDK throws an exception

[2020-02-11 02:55] blueww commented on #396
@meinemitternacht

Thanks for reporting this issue!
Will priority the fixing of it with other feature request.

[2020-02-11 18:59] ADrews-HF commented on #263
I had a similar-ish issue recently.  I had to switch to loose mode to resolve it; have you tried that yet?

[2020-02-11 19:26] gabrieljoelc commented on #263
@ADrews-HF interesting. I've never heard of "loose mode". how do you set that?

[2020-02-11 19:34] ADrews-HF commented on #263
@gabrieljoelc  My bad, it seems that was a param that was only added in v3.  It is used to ignore unsupported headers in requests.

[2020-02-12 01:05] mattdurak opened #398 "Delete Blob with blob name too long should fail"
### Which service(blob, file, queue, table) does this issue concern?
Blob
### Which version of the Azurite was used?
3.4.0
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm
### What's the Node.js version?
v11.10.0
### What problem was encountered?
When deleting a blob with a name that is too long (more than 1024 characters) using delete if not exists, I expect

[2020-02-12 01:07] mattdurak opened #399 "Uploading blob metadata with invalid key should fail"
### Which service(blob, file, queue, table) does this issue concern?
Blob
### Which version of the Azurite was used?
3.4.0
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm
### What's the Node.js version?
v11.10.0
### What problem was encountered?
When I try to add metadata to a blob where the key is something that is not valid (e.g. the string "1"), I expect

[2020-02-12 02:00] mattdurak commented on #398
I see the same issue with checking if a blob exists when the name is longer than 1025 characters. I expect to get HTTP 400 (One of the request inputs is out of range.), which is what the emulator and the real storage service return.

[2020-02-12 02:06] mattdurak opened #400 "Check if block blob exists should fail if blocks are all uncommitted"
### Which service(blob, file, queue, table) does this issue concern?
Blob
### Which version of the Azurite was used?
3.4.0
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm
### What's the Node.js version?
v11.10.0
### What problem was encountered?
When testing with Azurite, if I upload blocks to a new block blob but do not upload a block list, I expect that wh

[2020-02-12 02:10] mattdurak opened #401 "Uploading blocks with different lengths of IDs to the same blob should fail"
### Which service(blob, file, queue, table) does this issue concern?
Blob
### Which version of the Azurite was used?
3.4.0
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm
### What's the Node.js version?
v11.10.0
### What problem was encountered?
I expect that if I upload multiple blocks to a blob with different length ID's, then the request will fail with HT

[2020-02-12 04:48] XiaoningLiu commented on #398
Hi @mattdurak Thanks for bringing this! Azurite currently doesn't force 1025 chars. Will update in future releases. In the mean time, welcome contribution!

[2020-02-12 04:52] XiaoningLiu commented on #399
Hi @mattdurak Thanks for bringing this! Curious which test covers this? Will check in following releases.

https://docs.microsoft.com/en-us/rest/api/storageservices/set-blob-metadata
metadata names must adhere to the naming rules for C# identifiers.

[2020-02-12 12:30] #396 closed

[2020-02-12 18:43] ayeltsov opened #403 "Optionally support production style URL format http://accountname.localhost/container"
We have extensive and multi-layered code base which assumes production style URL format
https://accountname.core.windows.net/container

We have looked what would it take to support emulated format
http://localhost/accountname/container and due to code layout and assumptions of which part of URL means what in various layers, it would be extensive and error-prone.

This ask is to optionally support

[2020-02-12 18:47] mattdurak commented on #399
We have a test in our own code for this. I found that if I try to upload metadata with the key "1" it succeeds (I expect it to fail), but if I do something like key "?1" then it fails (but I haven't looked closely if it's the SDK or the Azurite server)

[2020-02-13 02:49] blueww commented on #400
@mattdurak
Thanks for reporting this issue!
We will priority it with other Azurite feature request, and fix in future release.

BTW, If you could give the debug log for this issue, it could better help us to investigate this issue.

[2020-02-13 02:50] blueww commented on #401
@mattdurak

Thanks for reporting this issue!
We will priority it with other Azurite feature request, and fix in future release.

[2020-02-13 14:12] XiaoningLiu commented on #403
Hi @ayeltsov Personally like the idea to have a flag for switch!

Please refer to this where Azurite parser account, container, and blob names from request.

https://github.com/Azure/Azurite/blob/be4dc2c9d44e3ba643e616795c26cb48dedd5c8e/src/blob/middlewares/blobStorageContext.middleware.ts#L54

queue service has a similar queueStorageContext.middleware.ts too.

[2020-02-13 18:13] acd-hfi commented on #263
Hrm.  I was able to get the Azurite plugin working, but it appears to have some limitations around locking records.  When using the vscode extension, locking errors always eventually lead to a deadlock situation.

[2020-02-14 03:19] XiaoningLiu opened #404 "Skip API Version Check in Loose Mode"
Proposal to skip API version check in loose mode to unblock (if any?) future versions request before Azurite has a release.

[2020-02-14 03:34] XiaoningLiu commented on #390
Hi, thanks for your prototype! Fixed in v3.5.0. Will close this.

[2020-02-14 03:35] XiaoningLiu commented on #384
Added a section describe Azurite workspace structure in readme.md, will close this.

[2020-02-14 03:35] XiaoningLiu commented on #334
v3.5.0 has the fix, will close this.

[2020-02-14 16:01] JDonaghy opened #405 "Docker v3.4.0 400 error"
### Which service(blob, file, queue, table) does this issue concern?
Blob
### Which version of the Azurite was used?
v3
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
DockerHub

### What's the Node.js version?
10.15.3

### What problem was encountered?
`An unhandled exception of type 'Azure.RequestFailedException' occurred in System.Private.CoreLib.dll: 'The va

[2020-02-15 17:36] danielk1977 opened #406 "if-match header on PUT request is not supported"
### Which service(blob, file, queue, table) does this issue concern?
Blob service.
### Which version of the Azurite was used?
3.5.0
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
From [npm install]
### What's the Node.js version?
v8.10.0
### What problem was encountered?
The "If-Match" header is not supported on a PUT request to upload a blob. But our app needs

[2020-02-17 03:38] XiaoningLiu commented on #406
Hi @danielk1977 This is a feature request for supporting conditional headers. We are planning this in recent releases! Will update later. Thanks for voting this up!

[2020-02-17 10:34] LoofahBu opened #407 "Can't download data by using azcopy"
### Which service(blob, file, queue, table) does this issue concern?
Blob service

### Which version of the Azurite was used?
3.5.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
DockerHub

### What's the Node.js version?
node:10-alpine

### What problem was encountered?
We have a sidecar container which will download data by invoking **azcopy (10.3.3)**. But

[2020-02-17 15:37] blueww commented on #405
@JDonaghy
Thanks for reporting this issue!
Will do some investigating, and update you later.

[2020-02-17 22:35] bearrito opened #408 "Failure with AioHTTP library"
### Which service(blob, file, queue, table) does this issue concern?
Blob

### Which version of the Azurite was used?
Digest: sha256:6a9d7899c12ed8493a6f23c82402b099b8272f48c65f60e3f3f02ab2655c195a

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
Docker Hub

### What's the Node.js version?

### What problem was encountered?
Failure with the AioHTTP Library

###

[2020-02-18 03:15] #407 closed

[2020-02-18 06:50] blueww commented on #405
@JDonaghy
Would you please share the debug log? We need it for detail investigation.
It seems the error is from client side.

[2020-02-18 20:03] amishra-dev opened #409 "Add support for DFS endpoint"
This issue is to track the communities need for the support of DFS endpoint (for the ADLS Gen2 SDKs) in azurite.

[2020-02-19 03:51] blueww commented on #409
@amishra-dev
Thanks for raising this request!
Will track it with other new feature request.

[2020-02-20 09:54] XiaoningLiu commented on #408
Hi @bearrito Please share detailed error message, and `debug.log` of Azurite for further debugging.

[2020-02-21 08:08] andre2007 commented on #389
I assume I have the same problem here. I try to access Azurite from [azure-sdk-for-c](https://github.com/Azure/azure-sdk-for-c) by using the example [https://github.com/Azure/azure-sdk-for-c/blob/master/sdk/storage/blobs/samples/src/blobs_client_example.c](https://github.com/Azure/azure-sdk-for-c/blob/master/sdk/storage/blobs/samples/src/blobs_client_example.c).

It expects `tenant_id`, `client_id

[2020-02-21 16:17] JDonaghy commented on #405
@blueww
Sorry but it's working now and I have no idea what the problem was. Thanks anyway!

In case anyone is struggling with get docker-compose.yml logging working, here's the command I used:

 `command: 'azurite --blobHost 0.0.0.0 --queueHost 0.0.0.0 -l /workspace -d /workspace/debug.log'`

[2020-02-24 04:01] blueww commented on #405
@JDonaghy
Thanks for confirm it works now!
I will close this issue.
Feel free to contact us if need any further assistance.

[2020-02-24 04:01] #405 closed

[2020-02-26 08:59] #390 closed

[2020-02-26 19:26] ayeltsov opened #410 "Real server compatibility: x-ms-blob-sequence-number of 0 should be returned for HEAD requests on Page blob"
### Which service(blob, file, queue, table) does this issue concern?
Blob
### Which version of the Azurite was used?
3.5
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
GitHub sync to master
### What's the Node.js version?
n/a
### What problem was encountered?
The legacy emulator returns page blob sequence number of 0 for the HEAD request

HEAD http://127.0.0.1:

[2020-02-27 00:28] carlosonunez opened #411 "I can't seem to set a valid storage account/key pair with "AZURITE_ACCOUNTS"."
### Which service(blob, file, queue, table) does this issue concern?

blob

### Which version of the Azurite was used?

3.5.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)

Docker

### What's the Node.js version?

v10.19.0

### What problem was encountered?

I tried to set `AZURITE_ACCOUNTS` as an environment variable per the code snippet shown below but keep

[2020-02-27 04:22] ayeltsov commented on #410
Found a hack (or maybe even fix, please evaluate) that works for my scenario.

https://github.com/Azure/Azurite/blob/be4dc2c9d44e3ba643e616795c26cb48dedd5c8e/src/blob/handlers/PageBlobHandler.ts#L117

[code]

This results in future HEAD and [at least some but engouh satisfy our caller] GET/PUT requests having x-ms-blob-sequence-number with value 0

[2020-02-27 13:41] jongio commented on #38
Related: https://github.com/dotnet/aspnetcore/issues/19399 - to get working with `dotnet dev-certs`

[2020-02-28 04:39] blueww commented on #410
@ayeltsov
Thanks for reporting this issue!
We will prioritize the fix of it in our future release.

[2020-02-28 05:09] ayeltsov commented on #385
Thanks guys. Per email conversation, the x-ms-sequence-number-action and x-ms-blob-sequence-number ([Set Blob Properties](https://docs.microsoft.com/en-us/rest/api/storageservices/set-blob-properties)) are also in scope for this improvement.

[2020-02-28 05:32] blueww commented on #411
@carlosonunez

Would you please provide the debug log, so we can see if customized environment variable is loaded or not. Seems environment variables doesn't take effect at all.

[2020-02-29 16:17] pjknkda opened #415 "Blob SAS fails if query string contains URL-encoded value"
### Which service(blob, file, queue, table) does this issue concern?

blob (but may be applied to queue too)

### Which version of the Azurite was used?

v3.5.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)

DockerHub

### What's the Node.js version?

v10.19.0

### What problem was encountered?

SAS authentification for blob fails if SAS contains URL-encoded

[2020-03-06 14:00] XiaoningLiu commented on #415
Hi @pjknkda, thanks for details information provided. Will take further investigation if we can have a fix!

[2020-03-09 17:04] bsoulier commented on #264
I see that this has been added to the 3.3 label then closed.
Microsoft is not doing anything on their side to provide a *nix based emulator (have a look [here](https://github.com/Azure/azure-cosmos-db-emulator-docker/issues/17)).

I think providing batch operations would solve quite some issues for people trying to run their DOTNET core development using on Azure Table Storage locally

[2020-03-09 23:04] JasonYeMSFT opened #417 "Delete retention policy not working as expected"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.2.0-preview
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm
### What's the Node.js version?
v10.16.3
### What problem was encountered?
as titled
### Steps to reproduce the issue?
1. Configure delete retention policy api to enable soft delete

[2020-03-10 07:16] blueww commented on #417
@JasonYeMSFT

Thanks for reporting this !
But Soft-Delete is still not supported by Azurite, you can find it in the list of "Following features or REST APIs are NOT supported or limited supported in this release" in https://github.com/Azure/Azurite

We will track this feature with other new features.

[2020-03-10 14:48] XiaoningLiu commented on #403
There are some further updates after PR https://github.com/Azure/Azurite/pull/416 @ayeltsov likes to have following updates.

tests
documentation
Some configuration options:
add custom domain name (for example, if someone wants to mock .blob.core.windows.net, they should be able to do this)
also considering to add option to any domain suffix (e.g. http[s]://account.*/container

[2020-03-10 15:46] blueww commented on #380
@NiklasArbin

After do more investigation, we find metadata key should not be expected to be case-sensitive.
Metadata is a http header, and http header is case insensitive. See : https://tools.ietf.org/html/rfc2616 4.2: "Field names are case-insensitive."

So client code should not compare metadata key with case sensitive.
Would you please fix your client code, to compare metadata key with case in

[2020-03-10 17:37] ayeltsov commented on #380
@blueww - unfortunately, production is already implemented in case-sensitive way.

When we have to chose between RFC correctness and emulating production behavior, I belive we should snap to production behavior.

Also please note that it's not easy to implement your suggestion - "client code should not compare metadata key with case sensitive":
- Production will not find metadata entries if we do

[2020-03-11 04:27] XiaoningLiu commented on #380
Got a workaorund to parser cases from raw headers, will update in v3.6.0

[2020-03-12 08:19] #332 closed

[2020-03-12 08:19] #380 closed

[2020-03-12 08:54] XiaoningLiu commented on #385
Conditional header is supported in v3.6.0. Will close this issue.

[2020-03-12 08:55] XiaoningLiu commented on #400
Fixed in v3.6.0. Will close this issue.

[2020-03-12 08:55] XiaoningLiu commented on #401
Fixed in v3.6.0. Will close this issue.

[2020-03-12 08:55] XiaoningLiu commented on #410
Fixed in v3.6.0. Will close this issue.

[2020-03-17 00:12] mghafoori commented on #268
I am having the same issue on a Ubuntu machine, using Azurite VS Code extension. Is there any solution for this issue?

[2020-03-17 01:24] JustinGrote commented on #41
@XiaoningLiu I have tested this with v3 and the pkg tool and node12 and it generates a functional exe. Would you like me to PR? I will also contribute a scoop manifest and a chocolatey update if you can provide info on how you publish to chocolatey (it does'nt appear to be in the azure pipelines yaml)

[2020-03-17 02:35] blueww commented on #268
@mghafoori
Azure function still not fully support Azurite. So we need wait for Azure function migrate to Azurite.

[2020-03-17 04:54] JustinGrote commented on #268
@XiaoningLiu
Based on my debugging, what is happening is that when the durable functions listeners try to write their control lease blob, Azurite is responding with '409 Blob Already Exists'
"PUT /devstoreaccount1/durablefunctionshub-leases/default/durablefunctionshub-control-00 HTTP/1.1" 409 -

Durable Functions uses the Microsoft.WindowsAzure.Storage API and it has an inner exception of "Server

[2020-03-17 16:19] linusnorton commented on #386
@XiaoningLiu any update on this it's preventing us from using the new version of azurite

[2020-03-17 19:18] joe-maley opened #420 "Inconsistent GET-blob behavior between Azure and Azurite"
On Azurite: After a successful PUT-block request to a non-existent blob, GET-blob returns an HTTP 200 with a 0-length blob.

On Azure: After a successful PUT-block request to a non-existent blob, GET-blob returns an HTTP 404.

Once I invoke a PUT-block-list request, both Azurite and Azure return an HTTP 200 from GET-blob with the expected non-zero length.

I don't know if this a bug on Azurite or

[2020-03-17 20:35] JustinGrote commented on #268
After patching the code and basically commenting out this section, it now behaves as expected and Durable functions work with Azurite as far as I can tell (all they do is simple blob and queue operations via Microsoft.WindowsAzure.Storage). I have a standalone EXE compiled as well as a scoop installer for testing
https://gist.github.com/JustinGrote/63983c9a53b4085d4710befea17bc913.

Obviously some

[2020-03-18 03:55] XiaoningLiu commented on #420
@joe-maley Please try with v3.6.0 mcr.microsoft.com/azure-storage/azurite:3.6.0, @blueww should already fixed it.

[2020-03-18 15:14] joe-maley commented on #420
Thank you @XiaoningLiu and @blueww, v3.6.0 fixed the issue.

[2020-03-18 15:14] #420 closed

[2020-03-19 01:11] XiaoningLiu opened #421 "[Feature] Negative scanrios support by injection headers"
Azurite could support following negative cases by supporting injection of test headers.

It's useful for someone wants to test their application's **avaiability and robust** in case of network issue or server side issues. Such as:

1. Simulate of unstable network connection
2. Simuate of Azure Storage service down
3. Simulate server busy
4. Simuate partial response
...

[2020-03-20 15:45] #334 closed

[2020-03-20 15:46] #384 closed

[2020-03-20 15:47] #410 closed

[2020-03-20 15:49] #401 closed

[2020-03-20 15:53] #385 closed

[2020-03-20 15:54] #361 closed

[2020-03-20 15:55] vinjiang commented on #411
Feel free to let us know if you need further assistance.

[2020-03-20 15:55] #411 closed

[2020-03-20 15:57] vinjiang commented on #392
Azurite is a Azure Storage emulator, you can use most of the ways of creating Azure Storage queue against Azurite. Like SDK mentioned, like tools, such as Storage Explorer which supports Azurite as well.

[2020-03-20 15:57] #392 closed

[2020-03-23 08:20] XiaoningLiu commented on #268
Hi @JustinGrote Thanks for your investigation on this. But the pointed code is by design.

Azure Storage has the same behavior and will return 409, if:
- The blob already exists
- The second create blob (put blob) request has a `if-none-match:*` header

Actually this is a scenario to about atomic "createIfNotExist" operation.

There should some other places make the difference. For example, before

[2020-03-24 16:21] J-J-C commented on #386
Hi @XiaoningLiu
Any updates on this? I am trying to use both curl and postman. However i always get 403

Since this is really a local dev simulation, why not just make is simple enough?

Could you please help us in constructing the curl url or postman request and have it as an example?

Thank you very much

[2020-03-24 16:37] J-J-C commented on #386
@XiaoningLiu  @lincolnu I tried with legacy azurite Azurite, Version 2.6.5 and it works as expected.
Is there any reason why it does not work with V3?

[2020-03-25 09:29] annascarano opened #422 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `azurite`
- Extension Version: `3.6.0`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.43.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\admin\Azurite.azurite-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-loa

[2020-03-26 12:47] blueww commented on #422
@annascarano

It seems you didn't attach the *cpuprofile.txt file, but only give the link of the file.
Would you please attach it to the issue?

[2020-03-28 15:41] danielk1977 commented on #406
@XiaoningLiu I think you can close this issue now. Using the latest sources the If-Match header seems to be working fine now. Thanks!

[2020-03-29 11:12] raztiff commented on #271
Thanks for all the efforts! However, Is this planned into your feature development roadmap, I think it is quite a common usecase for using blob storage?

[2020-03-30 03:12] XiaoningLiu commented on #422
Please check if you enabled access and debug log into VSC channels. If so, please provide latest logs here for better inestigation.

[2020-03-30 13:55] midnightrun commented on #253
@edwin-huber walking through the current CosmosDB documentation, make me believe there is still no Table Storage support and now cross platform solution. Is that correct? Thanks

[2020-04-01 08:55] shedges opened #423 "Issue in Storage account Gen 2 support in Azurite 3.6.0"
### Which service(blob, file, queue, table) does this issue concern?
Blob
### Which version of the Azurite was used?
3.6.0
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm
### What's the Node.js version?

### What problem was encountered?
I want to test few blob operation. And my requirement is to use storage account of Gen 2 (ADLS Gen2 ). So I compiled Azuri

[2020-04-02 10:44] XiaoningLiu commented on #423
I think ADLS Gen2 marks means you enables hihirical namesapce when create the storage account, right?

Storage explorer needs additional info to check about account level properties and types, Azurite doesn't provide an API for that, while it's not scope of Azurite either.
@JasonYeMSFT Can you help confirm?

It's should no harm about how Storage Explorer displays. And welcome report to us anytime

[2020-04-02 17:52] JasonYeMSFT commented on #423
"General purpose V2" is different from "Gen 2". An ADLS Gen2 storage account is storage account with hierarchical namespace(HNS) enabled while general purpose V2 is compared against general purpose V1. Azurite creates a general purpose v2 storage account without HNS enabled.

I don't remember Azurite supporting ADLS Gen2 storage account (aka. HNS storage accounts) and we don't have the support for

[2020-04-03 07:19] shedges commented on #423
@JasonYeMSFT @XiaoningLiu
Thanks for providing information that Azurite support general purpose V2 without HNS enabled.
I was not aware that General Purpose V2 is different from ADLS Gen 2.

First let me gather all required functionality from HNS. Then will come back to you whether we need Azurite with HNS on priority or not.

[2020-04-03 14:50] LucasAntoniassi opened #424 "Is it possible to upgrade from blob storage v2 to v3?"
Hi There,

First of all, thank you for your amazing work on this project.

I tried to upgrade azurite blob storage from v2 to v3 but I start to get StorageError NotFound. Looks like v3 does not understand v2 structure. Is it expected? how can I make v3 work with v2 data?

Thank you in advance.

[2020-04-11 20:14] gunzip commented on #268
hi @JustinGrote, when you say

do you mean the v2 version of Azurite ? I'm asking AFAIK durable functions need table storage which azurite v3 does not support.

[2020-04-11 21:02] JustinGrote commented on #268
I use it in conjunction with cosmosdb emulator for the table support, but I gave up and just went back to storage emulator, it's just easier.

[2020-04-14 02:41] XiaoningLiu commented on #424
Hi @LucasAntoniassi

Sorry for the late response. V3 applies new data structure different with V2.

If you want to migiration, you can leaverage Azure Tools like "AzCopy" to copy blob data from v2 to v3. For example, hosting v2 blob in port 10000, and v3 blob in port 11000

https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-blobs

[code]

Many people are using Azurite for the

[2020-04-15 21:11] LucasAntoniassi commented on #424
Hi @XiaoningLiu

Thank you for your response!

I am actually using it as persistent blob storage for a client that did not want to go to the cloud and prefer to run the app on his intranet instead.

I am thinking about migrating them from v2 to v3. Would it be possible to use the azcopy too?

Thank you!

[2020-04-15 22:23] onionhammer opened #428 "Is table storage emulation ever coming?"
Its a pretty glaring hole, and it don't actually see anything in this repository tracking this issue. Can someone please reference the tracking issue? If there isn't one, there definitely should be.

Being able to develop things that depend on azure tables, like durable functions for example, on any Mac and Linux with a local storage emulator is currently not possible.

[2020-04-16 19:52] LucasAntoniassi commented on #424
Hi @XiaoningLiu

I attempted to use the `azcopy` tool but I ran into some issues.

Firstly, it complains when I don't pass any container:

[code]

Then, I attempted to pass the `*` to download everything using this command:
[code]
This is the response:

[code]

And the blob logs stay in an infinite loop showing this request:

[code]

Can I copy everything from the blob storage to my local file sys

[2020-04-17 03:18] XiaoningLiu commented on #271
Hi @raztiff Append blob is planned in v3.7.0 release.

[2020-04-17 03:29] XiaoningLiu commented on #424
Hi LucasAntoniassi,

AzCopy supports copy all contaienrs from one storage account to another. Here is the samples.
https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-blobs?toc=/azure/storage/blobs/toc.json#copy-all-containers-directories-and-blobs-to-another-storage-account

Curious why it's not work in your case. Still needs investigation.

In the same time, please enable Az

[2020-04-17 13:03] kosmiq commented on #428
I'm hoping that table emulation will come around sooner rather than later.

However I have a solution for you @onionhammer , if you really need it, on a non Windows machine that allows you to dev locally. I'm a Mac user and this is my current setup allowing me to use Azure Storage Emulator running on VirtualBox with a Windows VM in it.

(As a bonus I'm also running the Cosmos DB emulator)

You'll

[2020-04-17 15:08] XiaoningLiu commented on #389
Hi Guys,

v3.7.0 includes basic level OAuth (token) support. Try with following parameters to enable OAuth. Note that OAuth needs HTTPS.

[code]

We have a long road plan for OAuth token support. The first step is about basic level OAuth supporting, in this step: Azurite will validate JWT token integrity, audience, issuer, expiry. But will not valid signature. This is a disconnected scenario. This

[2020-04-17 16:19] XiaoningLiu commented on #428
Thanks guys! Appreciated to hear from your guys. Currently our main focus is on catching up feature parities for blob & queue storage, there is no short term plan to add table support for Azurite V3. We are also internally discussing with team and PM about table, will update if there is any news. Please leverage CosmosDB or Azurite V2 for Table emualtion for the time being.

[2020-04-17 20:11] jongio opened #430 "Exception when using Azurite HTTPS with Storage Explorer"
v3.7.0

Create cert with mkcert

[code]

Start Azurite with cert:
`azurite --oauth basic --cert c:\temp\127.0.0.1.pem --key c:\temp\127.0.0.1-key.pem`

Open Storage Explorer

Create a new connection to Azurite with this connection string:
`DefaultEndpointsProtocol=https;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;

[2020-04-18 03:50] LucasAntoniassi commented on #424
Hello XiaoningLiu,

I think I found the issue and this may be an issue with the `azcopy` tool.

When I run this command:
[code]

it makes this following request on azurite:
[code]

The issue is that it should not have `devstoreaccount1/devstoreaccount1` in the URL as I did not specify any container. It is automatically adding `devstoreaccount1` as the container which is wrong.

I tested this query

[2020-04-21 18:59] jongio opened #433 "Prints wrong listening url when --blobHost or --queueHost specified"
Run this:
`azurite --oauth basic --cert cert.pfx --pwd azurite --blobHost localhost --queueHost localhost`

Get this:
[code]

Should have localhost, not 127.0.0.1

[2020-04-21 19:53] jongio commented on #430
This was resolved by importing the SSL cert.  See comment here: https://github.com/microsoft/AzureStorageExplorer/issues/2598#issuecomment-616765993

[2020-04-21 19:53] #430 closed

[2020-04-22 03:29] XiaoningLiu commented on #433
Hi @jongio, 127.0.0.1 is the actually binded host returned from `httpServer.address()` even we specific "localhost" when creating Node.js server.

Actually, there is no difference for following 2 commands

[code]

[code]

[2020-04-22 04:05] jongio commented on #433
Sure. But it should print the host that the user specified so there no uncertainty.

[2020-04-23 08:57] #389 closed

[2020-04-23 08:58] #271 closed

[2020-04-23 12:04] estet opened #436 "userdelegationkey feature"
image `mcr.microsoft.com/azure-storage/azurite:3.7.0`

POST to /devstoreaccount1?restype=service&comp=**userdelegationkey** HTTP/1.1

**Exception:**
_Azure.RequestFailedException: 'Current API is not implemented yet. Please vote your wanted features to https://github.com/azure/azurite/issues
RequestId:7fc4bfc5-db34-49c9-b183-a96d14c8d64a
Time:2020-04-23T10:40:02.610Z
Status: 500 (Current API is no

[2020-04-23 13:54] onionhammer commented on #428
@kosmiq that sounds a lot more complex than my current `docker-compose up -d` to spin up a sql database and azure storage from inside msbuild locally.

[2020-04-24 15:13] XiaoningLiu commented on #38
Azurite v3.7.0 supports HTTPS endpoint and OAuth.

[2020-04-26 22:46] jacek99 opened #438 "Docker images are not tagged with proper version"
The official Docker image:
https://hub.docker.com/_/microsoft-azure-storage-azurite

only has latest tags. It should be tagged with the correct version for every release.

This is especially important when the image needs to be re-imported into a company specific
ACR for security reasons (due to SOC2 we are not allowed to pull directly from public Docker repo).

[2020-04-27 02:23] blueww commented on #436
@estet
Thanks for the raise the feature request!
We will track this feature with other new features.

[2020-04-27 11:36] jonaswre opened #439 "Docker Image on Windows Base Image"
The docker image is only based on a linux system.
It would be really nice to have an additional image based on a windows base image. I suspect lots of people use Azure Blob Storeage and Cosmos DB in the same project. So being able to start the whole dev enviroment using a single docker-compose.yml is a great way for easy onboarding. The only thing that keeps me from doing that is that cosmosdb use

[2020-04-27 13:40] XiaoningLiu commented on #438
Hi @jacek99 Refer to https://mcr.microsoft.com/v2/azure-storage/azurite/tags/list for latest Azurite tag list.

[2020-04-27 21:24] atrauzzi opened #440 "Postgres support?"
I see mention in the docs about mssql and mysql, but can I put in `postgres` for a dialect?

[2020-04-28 01:22] jacek99 commented on #438
hi! thanks for the link...would be great if at least the last official release (3.7.0) would be mentioned explicitly on the Docker hub page
https://hub.docker.com/_/microsoft-azure-storage-azurite

as it only lists "latest" there.

Thank you

[2020-04-28 08:04] XiaoningLiu commented on #438
Will provide tag list link to https://hub.docker.com/_/microsoft-azure-storage-azurite page too.

[2020-04-28 08:16] XiaoningLiu commented on #439
Thanks @jonaswre! Are you referring to cosmosdb emulator which provides windows based image?

We will evaluate if we can make this happen in same docker image, or need another which needs more time. At least, we can provide some script so everyone can build the image.

BTW, I like to know more about the scenarios you mentioned "lots of people use Azure Blob Storeage and Cosmos DB in the same proje

[2020-04-28 08:22] XiaoningLiu commented on #440
Hi @atrauzzi

Azurite leverages sequelize as ORM managing access to different databases. It does support Postgres (https://sequelize.org/master/manual/getting-started.html). The thing is, Azurite doesn't have `pg pg-hstore` installed as default dependencies. Mostlikely you will get some errors when using postgres as dialect.

We can add the dependencies if they can pass our open source license val

[2020-04-28 08:32] XiaoningLiu opened #441 "NuGet Support"
datalake gen1 team and customers are asking for NuGet support. For better integration Azurite with Visual Studio projects.

[2020-04-28 12:43] synox commented on #271
Thank you all for the resolution of this ticket. I just verified  Azurite v3.7.0 and it works as expected! 😊

[2020-04-28 18:12] atrauzzi opened #443 "Fix blob copy support when using SQL metadata implementations"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
`latest`
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
DockerHub
### What's the Node.js version?
N/A
### What problem was encountered?
Can't perform simple copy operations.
### Steps to reproduce the issue?
Attempt to call copy using Azure Stora

[2020-04-28 18:13] atrauzzi commented on #443
Just as a note, I think this functionality is too essential to not be supported.  This was a landmine for me today.

[2020-04-29 11:37] blueww commented on #443
@atrauzzi
We do have Test case to cover the blob copy scenarios.
So pleases give the detail repro steps, like how to prepare the blob to copy, the parameter you use in copy, the detail error message, and better with Azurite debug log.
These information can help us to better investigate this issue.

[2020-04-29 12:23] edwin-huber commented on #253
@midnightrun the table storage support is there, but we are still waiting on a cross platform version (Windows only atm):
https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator

[2020-04-29 12:59] gunzip commented on #428
a little addendum:

cosmosdb emulator runs on windows only. if you have windows you can use the azure storage emulator, you don't need azurite. I guess the main selling point of azurite is to have a cross platform emulator that enables non windows user to develop locally

azure durable functions need table emulation. but it looks like it's broken on azurite v2, see

https://github.com/Azure/Azurit

[2020-04-30 01:42] atrauzzi commented on #443
Hey @blueww!

I'm not sure it's necessary as [you guys have already acknowledged that this is an issue](https://github.com/Azure/Azurite/commit/a75984b6ff2dc569b2c8c07d0446720a8067484d#diff-04c6e90faac2675aa89e2176d2eec7d8R363) in the readme.

![image](https://user-images.githubusercontent.com/115199/80663519-d0eae980-8a59-11ea-9b91-209311325ae6.png)

The repro steps are to enable SQL based metada

[2020-04-30 01:49] atrauzzi commented on #428
These are the kinds of gotchas and limitations that keep cropping up when people are trying to use Azure related tools and services.

[2020-04-30 03:49] blueww commented on #443
@atrauzzi
Yes, we currently don't support copy page/append blob on SQL based metadata implementation.
This is in our track. we will prioritize it with other feature ask.

[2020-04-30 06:29] XiaoningLiu opened #444 "CRC64 Support"

[2020-04-30 09:27] kosmiq commented on #428
In my case I'm running MacOS and the docker image is only compatible with MacOS as far as I can tell.

[2020-04-30 11:42] atrauzzi commented on #443
Much appreciated! :smile:

[2020-04-30 14:03] jacek99 commented on #438
thank you

[2020-04-30 14:05] jacek99 opened #445 "Security failures on latest Docker image"
The latest Docker image fails a Twistlock security scan due to multiple critical/high CVEs in it:
---------------------------------------------------------
'''
Scanning mcr.microsoft.com/azure-storage/azurite:latest...
Vulnerabilities
---------------
Image                                             ID                  CVE                   Package              Version      Severity    Status

[2020-05-02 05:03] andreesteve commented on #251
@blueww  - This repros on Linux too.

[code]

func output:
[code]
Attached is the azurite debug logs.

[azurite-debug.txt](https://github.com/Azure/Azurite/files/4567117/azurite-debug.txt)

[2020-05-02 13:20] ggirard07 commented on #253
@edwin-huber How is this intended to work when you need to consume both table and blob?
In real world scenario, this is going to be the same endpoint offering both services. Whereas for local dev story, we will need to support having to configure 2 different endpoints, right?

[2020-05-02 15:42] atrauzzi commented on #440
Hey @XiaoningLiu! :smile:

I'd definitely prefer to see postgres support added to the project, but as an interim solution, I managed to get around having to clone or repackaging the container by creating my own entrypoint script:

[code]

---

The most obvious shortcoming of the loki-based storage is that when I restart my machine or the Azurite container, I end up losing all my data!
We are using

[2020-05-04 08:13] edwin-huber commented on #253
@ggirard07 - When we have a solution for both, I would hope that the port and authentication for local development will stay the same, thus not requiring any changes to address 2 endpoints, as it will be different processes on different ports, just as it is done now by Azurite starting multiple instances.
This was one of the many things that we have been looking at whilst creating a cross platform

[2020-05-05 09:08] MatejQ commented on #428
From time to time, we need to copy all blobs from real Azure to local storage emulator. But it's not possible using azcopy which fails with nonsense exceptions. I have read somewhere that it's simply not possible because of the windows azure storage emulator which is legacy, but it is possible with Azurite which is the future.
Now I read that Table storage isn't supported at all in Azurite V3 and

[2020-05-05 09:23] MatejQ commented on #253
Isn't this issue duplicate of #428 (or vice versa)?

[2020-05-05 16:42] ayeltsov commented on #428
Adding 2 cents on behalf of SQL team.

One of our smaller projects only has 1.5 people working on it, mostly in free time (read evenings/weekends).

Project uses legacy emulator for unit tests. Want to migrate unit tests to Azurite but lack of table support is blocking.

We don't extra have time or desire to use multiple products to get unit tests to work.

Something simple, lightweight, easy to i

[2020-05-06 07:35] XiaoningLiu commented on #406
Thanks @danielk1977 Glad to see Azurite helps!

[2020-05-06 08:49] macux commented on #253
I said to @jongio on twitter I would add a comment here and I don't currently have time to go back and check this so apologies if I'm out of date. I currently use the Azure storage emulator locally in development as well as in CI/CD (Azure DevOps) for running tests on agents. I use table storage and blobs in all of this.

When I last looked at moving to Azurite my issue I think was that the Azure

[2020-05-06 12:20] blueww commented on #251
@andreesteve
Thanks for the information!
Azure function still not fully support Azurite. So we need wait for Azure function migrate to Azurite.

[2020-05-06 14:43] blueww commented on #445
@jacek99
Thanks for report this issue!
We will look into it.

[2020-05-09 04:24] #406 closed

[2020-05-14 17:20] danpetitt commented on #439
Because we cant standup linux and windows images at the same time using docker-compose (until the latest versions of windows and winserver are eventually released) we need a windows version of this image

[2020-05-15 09:17] kosmiq commented on #428
What is the official way of doing local development since Azure Storage Emulator is going to be deprecated soon, Azurite v2 is old and marked as legacy, and Azurite v3 does not support Table as of yet (with no "short term plans to add it"). (https://github.com/Azure/Azurite/issues/253).

We are using blob, queue and table storage on our end and have a team running MacOS and Windows.

[2020-05-15 12:25] ggirard07 commented on #428
@kosmiq official solution is to use cosmosdb emulator as indicated [in this duplicated issue](https://github.com/Azure/Azurite/issues/253#issuecomment-621168367) (only Windows seemed to be supported at time of original posting)

[2020-05-16 20:11] tcfialho opened #446 "Parameters as enviroment variables"
It's possible make all that parameters as enviroment variables for make easy run in docker-compose enviroment?

- blobHost
- queueHost
- blobPort
- queuePort

[2020-05-16 20:37] tcfialho opened #447 "How to configure anonymous access"
Anonymous access is also available when container is set to allow public access.

How to configure that?

[2020-05-18 06:44] blueww commented on #446
@tcfialho
Thanks for raising the suggestion!
We will priority it with other new feature request / fix, if this is a common request on Azurite.

[2020-05-19 03:26] blueww commented on #447
@tcfialho

You can config it with storage SDK or tools, as you do for storage accounts in Azure Product regions.

Like with Azure Storage explorer:
You can get the connect string from https://github.com/Azure/Azurite#connection-strings
Then in Azure Storage Explorer, connect to azure storage with the connection string.
Then in Azure storage explorer, choose the new added storage account, and the c

[2020-05-21 15:20] blueww commented on #400
This issue is fixed

[2020-05-21 15:20] #400 closed

[2020-06-01 00:12] SeanFeldman commented on #38
Given that v3.7.0 is out, should this issue be closed as completed?

[2020-06-02 08:48] BeMacized opened #449 "cors"
### Which service(blob, file, queue, table) does this issue concern?

### Which version of the Azurite was used?

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)

### What's the Node.js version?

### What problem was encountered?

### Steps to reproduce the issue?

### Have you found a mitigation/solution?

[2020-06-02 08:49] #449 closed

[2020-06-03 06:45] SeanFeldman opened #451 "Running azurite for tests in a GitHub action"
### Which service(blob, file, queue, table) does this issue concern?
Blob

### Which version of the Azurite was used?
3.7.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm

### What's the Node.js version?
11

### What problem was encountered?
Running azurite in a GitHub action to allow tests to run

### Steps to reproduce the issue?

I'm running the followi

[2020-06-04 11:40] atrauzzi commented on #451
I feel like steps are isolated from eachother in actions. So your service might not exist on subsequent steps as the entire process context is disposed.

[2020-06-04 13:17] SeanFeldman commented on #451
Steps in the same job share the same runner and access the same file system. Process wise, not sure. Maybe @ethomson can clarify?

[2020-06-04 13:26] ethomson commented on #451
_Jobs_ are run in separate environments.  _Steps_ are run sequentially on the same environment.  So it would be ok to start azurite and then test it in separate steps.

But what does `start /B` do?  Does it start this process in the background?  If so, you'll probably need some sort of delay before running the tests to ensure that the process is fully started and ready to receive requests, otherwi

[2020-06-04 14:30] atrauzzi commented on #451
Are you sure?  I've tried to set environment variables in the past to share between steps and had no luck.  Which lead me to doing this between _steps_:

[code]

[2020-06-04 14:41] SeanFeldman commented on #451
Run a process in the background. This is what Az DevOps is doing to keep the process running while tests are executed.

From what I've seen, Azurite [starts listening](https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/runs/733597968?check_suite_focus=true#step:7:7) _before_ tests step is executed but all tests are [failing to establish the connection](https://github.com/SeanFeldman/Servic

[2020-06-04 15:52] gabrieljoelc commented on #428
@XiaoningLiu this is unfortunate and makes it very difficult to develop Azure Functions locally on non-windows without a real resource, since all Azure Functions require table storage to run. I end up doing a bunch of the coding on my Mac and then running the app on my PC. :(

See my other open issue #263 where I need blob and table storage in a similar scenario so I have to try and use V3 and V2

[2020-06-04 15:56] ethomson commented on #451
Yes, I'm sure; you can see this by writing a file to disk in one step and read it in a second.

Right - you get a new shell each for each step, so environment variables would not be persisted.

Yep, this is the right way to do this.  👍

Yeah, looking at the logs, that makes sense.  It would be interesting to know if you can hit that port (the moral equivalent of `sleep 5 && curl http://localhost:1

[2020-06-04 16:05] SeanFeldman commented on #428
I'll ask perhaps a bit too direct question, but still - is Table Storage service deprecated?

If "yes", understandable why there's a push back to support it with Azurite.
If "no", then it's weird that it's not supported, no?

Fully understand the challenges of any emulator - it adds to the product/service team to technically own and support a parallel product. At the same time, if the emulator is

[2020-06-04 16:20] atrauzzi commented on #451
Apologies :smile:, I was under the impression that the behaviour behind getting a new shell would also destroy any processes started under it.

[2020-06-04 16:37] onionhammer commented on #428
I really think the team needs to re-prioritize this effort. Table storage support is critical for a lot of different scenarios like durable funcitons

[2020-06-05 06:30] SeanFeldman commented on #451
Hmm, the tests are trying to establish a connection to http://**127.0.0.1**:10000/ and not http://**localhost**:10000/. I wonder if that's the root of the problem.

[2020-06-05 07:02] SeanFeldman commented on #451
From what I can see, there's something that is blocking the communication. I tried both, [http://localhost:10000](https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/runs/741284470?check_suite_focus=true#step:8:12) as well as [http://127.0.0.1:10000](https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/runs/741296982?check_suite_focus=true#step:8:11) and both failed with

This indicat

[2020-06-05 10:37] ethomson commented on #451
No apology needed - I'm not sure of the precise mechanics around `start /B` behavior or background processes in Windows.  And I think that you're right, this does actually appear to be a somewhat different concept.

The [docs](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/start) say:

It sounds like this doesn't really put something in the background - at least in

[2020-06-05 13:55] onionhammer opened #453 "BlobClient GetUserDelegationKeyAsync returns invalid response"
### Which service(blob, file, queue, table) does this issue concern?
Blobs

### Which version of the Azurite was used?
Latest nuget as of 6/5/2020

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
nuget

### What problem was encountered?
When creating a delegationkey, the client throws an exception

[code]

### Steps to reproduce the issue?
Use the latest Azure S

[2020-06-05 15:32] SeanFeldman commented on #451
Switching to bash was a great find. I've also noticed that on another CI/CD platform I've used PowerShell [`Start-Process` cmdlet](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/start-process). Which I assume would work for Actions as well. It's interesting that for Azure DevOps pipelines, `start /B` does work.

Anyhow, @ethomson, thank you so much 🙂

[2020-06-05 15:32] #451 closed

[2020-06-05 15:51] ethomson commented on #451
Happy to help, it was nice to learn a little bit more about `cmd`, even if I left with more questions about it than answers.  😁

[2020-06-08 03:35] blueww commented on #453
@onionhammer
Thanks for reporting this error!

Azurite still not support delegationkey now.
Will add this to the feature request list.

Besides that, we will see if can make the exception message more informational.

[2020-06-09 05:07] snodnipper opened #454 "com.azure.storage.blob.models.BlobStorageException: Status code 400, (empty body)"
### Which service(blob, file, queue, table) does this issue concern?
blob

### Which version of the Azurite was used?
3.7.0 (mcr.microsoft.com/azure-storage/azurite:3.7.0)
I also used azurite:latest.

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
DockerHub

### What's the Node.js version?
na (FROM node:10-alpine in Dockerfile)

### What problem was encountered

[2020-06-10 03:35] blueww commented on #454
@snodnipper

Would you please give the Azurite debug.log for this failed request?

I tried to repro it with .net SDK, and seems .net SDK works well on this request. See the following Debug.log on my machine for this request.

[code]

[2020-06-10 03:52] snodnipper commented on #454
Hopefully the following is helpful:

[code]

[2020-06-10 10:29] edwin-huber commented on #253
Thanks all for the attention on this.
We are in the process of figuring this out, and soon hope to have a clear answer on our direction and a long term solution.
@XiaoningLiu FYI.

[2020-06-11 20:54] hoshauch commented on #428
how should we test locally on linux?
Please do it :)

[2020-06-12 05:55] blueww commented on #454
@snodnipper

Thanks for the info!
I get the failure happens when "include=" don't have any value.

We will discuss in teams seem how to fix it.

[2020-06-15 07:11] blueww commented on #38
Close the issue as https is already supported from 3.7.0

[2020-06-15 07:11] #38 closed

[2020-06-15 07:43] XiaoningLiu commented on #428
Table Storage is not deprecated. It's branding movs from Azure Storage Table to Azure Table. We are internally discussing Table support in Azurite V3 with CosmosDB team. We know many are aksing Table support. The challenge is we need more resources for contribution to Azurite Table. Open source contributions are very welcome. If anyone wants to contribute to Azurite Table, like implementing some A

[2020-06-15 08:35] jumpinjackie opened #456 "Can create illegally-named blob containers"
### Which service(blob, file, queue, table) does this issue concern?

blob

### Which version of the Azurite was used?

Whatever version/tag `mcr.microsoft.com/azure-storage/azurite:latest` is currently (as of 15th June 2020)

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)

I'm pulling the azurite docker image

### What's the Node.js version?

Whatever came wit

[2020-06-15 10:37] sambowenhughes opened #457 "Azurite connection refused by storage explorer when running through a docker-compose file"
### Which service(blob, file, queue, table) does this issue concern?
Blob
### Which version of the Azurite was used?
3.7.0
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
DockerHub
### What's the Node.js version?
N/A
### What problem was encountered?
When running **azurite** through a **docker-compose** file it seems to run perfectly fine.

Following output:
`az

[2020-06-15 17:59] onionhammer commented on #428
@XiaoningLiu maybe if the team at Microsoft could start a branch with table support and just stub out the method signatures with "TODO"s the rest could be filled in somewhat idiomatically by the community? Putting such a large task out to the community without guidance is an invitation to failure or duplication of effort

[2020-06-15 20:44] hugoeustaquio commented on #428
Can you fix table storage support on V2?

[2020-06-16 02:59] takekazuomi commented on #428
Is this story the same as the CosmosDB emulator's cross-platform support?

[2020-06-16 04:19] XiaoningLiu commented on #428
We will prepare guidelines, project skeletons and open details tasks. Each task will have detailed description and should be fine greained.

[2020-06-16 04:24] XiaoningLiu commented on #428
V2 table has different structure with v3. @edwin-huber is helping with V2 releasing and reviewing, Open source contribution to table v2 is also welcome.

[2020-06-16 04:29] XiaoningLiu commented on #428
What's the `CosmosDB emulator's cross-platform support` you are referring to? In my recent talk with CosmosDB team, they are generally agree to have Table in Azurite V3 for better cross-platform support.

[2020-06-16 06:11] takekazuomi commented on #428
@XiaoningLiu CosmosDB Emulator is under development.  I have been waiting for more than 3 years. I'm tired of waiting.
https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/18533509-add-documentdb-emulator-support-for-mac-os-x-and

[2020-06-16 08:51] blueww commented on #456
@jumpinjackie
Thanks for reporting this issue!

We can repro it and will priority the fix of it in a future release.

[2020-06-16 09:00] blueww commented on #457
@sambowenhughes

As docker works, this seems not an Azurite issue.

We have an issue on docker-compose before, and it looks like works in docker-compose.
You might can refer to it.
https://github.com/Azure/Azurite/issues/381

[2020-06-18 11:51] edwin-huber commented on #428
Hi,
I appreciate your pain.
Maintaining v2 table is not very practicable any more as I can't keep up with the number of features that need backporting to keep up with the current versions of our APIs.
We are working out the details for v3 and will update as soon as we can with something more concrete.

[2020-06-19 06:05] XiaoningLiu opened #458 "Add stale to close staled issues in Azurite"
https://probot.github.io/apps/stale/

[2020-06-21 14:58] dwsteele opened #459 "Validate date header?"
### Which service(blob, file, queue, table) does this issue concern?

blob

### Which version of the Azurite was used?

2020.04 Version 3.7.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)

DockerHub

### What problem was encountered?

Azurite does not validate the `Date` header.

### Steps to reproduce the issue?

Create a request with a `Date: BOGUS` header.

[2020-06-22 06:23] blueww commented on #459
@dwsteele
Thanks for reporting this issue!
Would you please attach the debug log (Or request trace) for this issue? Then we can be more clear for this issue.

[2020-06-22 11:14] dwsteele commented on #459
Here's a trace of a request where the `Date` header is set to `BOGUS`. As you can see the request succeeds. The Date field can be set to anything -- there is no validation on this field.

The actual Azure blob service does validate the Date field, so if there is an implementation issue it won't be caught by Azurite. Since Azurite is commonly used for testing it should act as much like actual Azure

[2020-06-23 02:51] XiaoningLiu opened #460 "npm install -g azurite requires git"
Investigation why Azurite installation via npm requries git

npm http fetch GET 200 https://registry.npmjs.org/is-stream/-/is-stream-2.0.0.tgz 32ms
npm http fetch GET 200 https://registry.npmjs.org/one-time/-/one-time-1.0.0.tgz 32ms
npm timing stage:rollbackFailedOptional Completed in 0ms
npm timing stage:runTopLevelLifecycles Completed in 6453ms
npm verb stack Error: spawn git ENOENT
npm verb sta

[2020-06-23 04:01] blueww commented on #459
@dwsteele

Thanks for the detail debug log!
Will prioritize the fix in a future release.

[2020-06-24 08:09] maartenba commented on #428
Would also like to see this supported, especially to be able to work with durable functions locally (without having to depend on connectivity to an actual storage account to do development). We have a lot of developers on macOS and taking the connectivity constraint into account, they currently have no option other than booting into Windows and using the "old" storage emulator

[2020-06-28 05:21] abhi2495 commented on #456
Yes same issue. There seems to be no validation on naming of containers while creating them. I am using Azurite node in my Java integration tests

[2020-06-28 15:21] AlexanderYW opened #461 "[syncCopyFromURL] BlobNotFound - The specified blob does not exist."
### Which service(blob, file, queue, table) does this issue concern?
blob

### Which version of the Azurite was used?
3.7.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm

### What's the Node.js version?
v12.13.1

### What problem was encountered?
[syncCopyFromURL](https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-storage-blob/12.1.2/classes

[2020-06-29 12:41] XiaoningLiu commented on #461
Hi @AlexanderYW Can you enable Azurite debug log and share it here? SyncCopyBlob is not supported by Azurite yet. Like to check Azurite log for double confirm.

[2020-06-29 13:13] AlexanderYW commented on #461
Hi @XiaoningLiu, Sure I will provide you with the log in about 2 hours.

I'm not 100% sure that it's the SyncCopyBlob, just what I assumed it was since that's the main difference between the rest of the test and the ones that fails :)

[2020-06-29 15:01] AlexanderYW commented on #461
Hi @XiaoningLiu,

Here is the debug log
https://gist.github.com/AlexanderYW/7d20871b786f604a54eaa0f8d3ae9ffc

[2020-06-30 09:44] feluelle commented on #457
You mapped the wrong ports.
[code]
It should be:
[code]

[2020-06-30 15:19] dhadka opened #463 "listBlobs does not support all includes options, including uncommittedblobs"
### Which service(blob, file, queue, table) does this issue concern?

Blob

### Which version of the Azurite was used?

3

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)

NuGet

### What's the Node.js version?

Any

### What problem was encountered?

The `listBlobs` method only respects the `includes: snapshot` option.  However, it does not respect `uncommitted

[2020-06-30 17:24] oising commented on #428
Need to add the point that alongside azure functions, Orleans also requires table storage for some important scenarios... :/

[2020-07-01 03:25] XiaoningLiu commented on #463
PR merged. Thanks @dhadka!

[2020-07-01 03:25] #463 closed

[2020-07-01 06:15] XiaoningLiu commented on #461
@AlexanderYW It's true it's an not implemented API. You can find "Current API is not implemented yet." in debug.log and response.

2020-06-29T14:57:53.995Z 4d778175-3e41-48d0-9b27-ee2e8d2dbeee info: BlobStorageContextMiddleware: Account=devstoreaccount1 Container=adonis-driver-test Blob=hello-moved.txt
2020-06-29T14:57:53.995Z 4d778175-3e41-48d0-9b27-ee2e8d2dbeee verbose: DispatchMiddleware: Dispa

[2020-07-01 07:22] AlexanderYW commented on #461
Perfect :), how often is work being done on this project from "Azure/Microsoft" side, or is this purely hobby and community contributed?

[2020-07-01 09:31] XiaoningLiu commented on #461
We will triage pending features and issues before monthly release planning, Due to the limiited resource, we need to prioritise critical issues and important features according to the triage meeting. In the same time, we are pretty welcome for community contribution : ) Azurite already has CopyBlob implemented, it should be simliar for SyncCopyBlob.

[2020-07-01 09:35] AlexanderYW commented on #461
Just what i wanted to hear :D, if I get the time I will try to give it a look, no promise :)

[2020-07-02 03:13] katmsft opened #465 "Listing blobs with `prefix` query parameter sent as `Prefix` works in production but not in Azurite"
Only tested the `prefix` but there could be more occurrences. It seems that the query parameter is not case-sensitive for production but is case-sensitive for Azurite, there will be an inconsistent behavior.

The HTTP protocol does not guarantee the casing for a query parameter, it is service behavior to ignore case:

Linking to a PHP SDK issue: https://github.com/Azure/azure-storage-php/issues/23

[2020-07-03 02:51] XiaoningLiu commented on #465
Azurite targets to align with all public documented behaviors of Azure Storage. `prefix` parameter in following document is lowercase.

In https://docs.microsoft.com/en-us/rest/api/storageservices/list-blobs#uri-parameters,

It's un documented behaior that Azure Storage handles `prefix` query parameter case insensitively.

We are still thinking what's the best Azurite strategy to align with Azure

[2020-07-03 03:01] patrickcarnahan commented on #443
@atrauzzi which sql dialect are you using?

[2020-07-03 03:05] patrickcarnahan commented on #438
@XiaoningLiu i see that this is still a problem. Is this expected to be resolved?

[2020-07-03 03:10] XiaoningLiu commented on #438
Yes, it should be resolved.

[2020-07-03 03:36] XiaoningLiu commented on #454
It's another undocumented behavior for Azure Storage production, not an issue of Azurite.

[2020-07-03 04:12] snodnipper commented on #454
Sure - perhaps there is opportunity to share test suites between production and Azurite.

We have updated the dependencies across our services and practically this is no longer an issue.

[2020-07-03 11:18] atrauzzi commented on #443
Postgres.

[2020-07-03 15:01] subhaze commented on #465
@katmsft I agree that a one-to-one behavior would be nice but I also agree with @XiaoningLiu on supporting the documented casing for the query params even though Azure Storage production allows for case-insensitivity unfortunately.

I've sent a PR that just updated the QPs listed in the doc link above but I can dig further into the documentation and update the PR with any other lowercasing that ma

[2020-07-03 15:10] katmsft commented on #465
Well, a fix like this does not work properly, as the QPs are also used in parsing the list result, which by official document should be mixed cases.

See this: https://docs.microsoft.com/en-us/rest/api/storageservices/list-blobs#response-body

[2020-07-03 16:33] subhaze commented on #465
Ah, I see, hmm... Nothing is ever easy, ha!

Thoughts on separating that out so that query params can match the lower case per docs and the XML can match the Response Body case per docs?

Something like `XTAG_PREVIEW, XTAG_MAX_RESULTS, ...` like others that are defined [here](https://github.com/Azure/azure-storage-php/blob/cdb39bd06386d90e28bae8511b033681b4dcbf0e/azure-storage-common/src/Common/In

[2020-07-04 01:03] patrickcarnahan opened #467 "Upgrade to sequelize 6.3.0"
While moving to azurite in an attempt to increase agility and reliability for developers on my team, I tried to make use of the mssql dialect since there is already an mssql instance available. Unfortunately when attempting to `PUT` blob content with this backend I immediately ran into https://github.com/sequelize/sequelize/issues/11902.

I have already had a change accepted in the master branch o

[2020-07-04 11:00] patrickcarnahan commented on #467
This is now available in https://github.com/sequelize/sequelize/releases/tag/v6.3.0

[2020-07-06 06:41] XiaoningLiu commented on #465
You can do concurrency control by yourself or by 3rd party modules like `async`

https://www.npmjs.com/package/async
https://caolan.github.io/async/v3/docs.html#parallelLimit
...

[code]

[2020-07-06 12:40] patrickcarnahan commented on #467
@blueww if it helps expedite this in any way I have gotten confirmation from a maintainer of sequelize that this can be ported to 5.x.

[2020-07-07 02:04] XiaoningLiu commented on #445
v3.8.0 updated base docker image to latest, removed testing private key from docker image and removed execuation permission when building docker. Please check again.

I cannot access to Twistlock scan tool, thus couldn't have latest scan report based on latest build. It's great if any suggestions for other replacement of docker image scan tools.

[2020-07-07 02:08] XiaoningLiu commented on #438
v3.8.0 sends out a request to update Docker hub readme page including link to latest tags. Will be avaiable soon.

[2020-07-07 02:14] blueww commented on #467
@patrickcarnahan
Thanks for raising this!

Would you please share the debug log for Azurite, so we can know the detail error.
This can help us to evaluate the request, and add test case for this issue.

[2020-07-08 00:05] patrickcarnahan commented on #467
@blueww sure thing, I will post this evening. Having said that, it's not difficult to cause the failure as long as the `Deleted` and `Snapshot` fields of the blob are `false` and `""` respectively. It should be as simple as doing a block blob creation with mssql as the dialect.

[2020-07-08 01:15] patrickcarnahan commented on #467
below you can find the debug log. this includes output both with and without the fix (i changed the file in my local `node_modules` folder.

## failure sample

[code]

[debug.log.zip](https://github.com/Azure/Azurite/files/4887840/debug.log.zip)

[2020-07-08 12:00] blueww commented on #467
@patrickcarnahan
Thanks for the log!
We will investigate it and prioritize the upgrade.

[2020-07-08 15:51] AlexanderYW commented on #461
PR: #469

[2020-07-08 15:51] #461 closed

[2020-07-08 16:56] AvihayST opened #470 "content-disposition does not appear in response"
### Which service(blob, file, queue, table) does this issue concern?
blob

### Which version of the Azurite was used?
3.8.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
DockerHub

### Steps to reproduce the issue?
[code]

The link response does not contain content-disposition in his header

[2020-07-08 17:07] patrickcarnahan commented on #467
@blueww as mentioned before I have also gotten buy off to port this back to `v5`, which is your current major version. This may be a less risky option so let me know if that helps get this bumped and I can work on getting it ported.

[2020-07-09 08:09] XiaoningLiu commented on #470
Hi @AvihayST Azurite doesn't support content-xxx override in SAS yet. Mark this as feature request will triage in following releases. In the same time, contribution is pretty welcome!

[2020-07-11 20:13] connelhooley commented on #446
This would be awesome if it was implemented. In the mean time, does anyone know of any workarounds for this until it is implemented?

My usecase:
Run azurite in a docker container via docker compose with the path to the SSL cert and key specified.

Is that possible currently?

[2020-07-11 20:53] connelhooley commented on #446
I think I've just got it working by creating my own docker file, maybe there's a better way though:

[code]

[2020-07-12 17:33] connelhooley opened #471 "HTTPS/SSL in Docker"
### Which service(blob, file, queue, table) does this issue concern?
All

### Which version of the Azurite was used?
3.8

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm & DockerHub

### What's the Node.js version?
v12.14.0

### What problem was encountered?
I cannot get the HTTPS endpoints to work when running inside a docker container.

### Steps to reprod

[2020-07-12 17:46] connelhooley commented on #471
Found the fix! I forgot to add the `blobHost` option:

[code]

[2020-07-12 17:46] #471 closed

[2020-07-13 03:24] blueww commented on #467
@patrickcarnahan
Thanks for the support!
It would be great if the fix can be back port to v5, then Azurite should can take it without any code change.

We need time to evaluate if v6 works well in Azurite. We have put it in our tasks, but might need to work on some other higher priority work first.

[2020-07-13 12:53] patrickcarnahan commented on #467
@blueww the fix is being cherry-picked to v5 here: https://github.com/sequelize/sequelize/pull/12504. i will update this issue once it has been accepted and released to npm.

[2020-07-15 00:11] gmantri opened #473 "Unable to run Azurite on Windows"
### Which service(blob, file, queue, table) does this issue concern?
All

### Which version of the Azurite was used?
3.8.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm

### What's the Node.js version?
8.12.0

### What problem was encountered?
I'm pretty sure I am missing something very trivial but not able to figure it out. For some unknown reasons, I'm

[2020-07-15 03:19] XiaoningLiu commented on #473
Believe this is a general issue on your local npm environment. Install other npm packages globally should fail either.

I don't have much comments here, maybe you can try uninstall then install Node.js again and see if it helps?

[2020-07-16 02:54] XiaoningLiu opened #475 "[Announcement] Azurite branching strategy change"
Previously, Azurite V3 repo has 2 branches. Master branch is release branch which is always align with latest published released package. Dev branch accepts daily development commits. We are considering dropping dev branch and only keep master branch as develpment branch:

* Latest master branch commit is same/ahead of latest public released commit
* Every release will tag release commit
* All PRs

[2020-07-16 09:51] borgdylan opened #476 "Invalid storage account"
### Which service(blob, file, queue, table) does this issue concern?
blob

### Which version of the Azurite was used?
3.8.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
DockerHub

### What's the Node.js version?
12.18.2

### What problem was encountered?
When using the azure storage sdk v11.x, an invalid storage account error is returned.

### Steps to repro

[2020-07-16 09:53] borgdylan commented on #476
The connections tring used was:
DefaultEndpointsProtocol=http;AccountName=testdsited1d4f55318dd07;AccountKey=758f3f56abb44ac991922dadf42c08e91863af4c0acf4103ac7a9d3d5159d548;BlobEndpoint=http://testdsited1d4f55318dd07.blob.stack.internal/testdsited1d4f55318dd07

Azurite is configured to host the account by means of env vars:
AZURITE_ACCOUNTS=testdsited1d4f55318dd07:758f3f56abb44ac991922dadf42c08e9

[2020-07-16 09:54] XiaoningLiu commented on #476
Please share debug.log and find any account refresh log entries.

[2020-07-16 09:54] borgdylan commented on #476
The SDK is giving out exceptions with messages such as:
Request Information
RequestID:1a18e047-dbbe-4d30-a060-00a839ca4e20
RequestDate:Thu, 16 Jul 2020 10:43:21 GMT
StatusMessage:Invalid storage account.
ErrorCode:InvalidOperation
ErrorMessage:Invalid storage account.
RequestId:1a18e047-dbbe-4d30-a060-00a839ca4e20
Time:2020-07-16T09:43:21.091Z

[2020-07-16 10:00] borgdylan commented on #476
I will enable debug log and send it

[2020-07-16 10:12] borgdylan commented on #476
2020-07-16T10:11:18.548Z 	 info: Azurite Blob service is starting on 0.0.0.0:10000
2020-07-16T10:11:18.549Z 	 info: AccountDataStore:init() Refresh accounts from environment variable AZURITE_ACCOUNTS with value *****
2020-07-16T10:11:18.559Z 	 info: BlobGCManager:start() Starting BlobGCManager. Set status to Initializing.
2020-07-16T10:11:18.559Z 	 info: BlobGCManager:start() Trigger mark and swee

[2020-07-16 11:46] borgdylan commented on #476
I tried delaying sdk requests to 6 seconds after provisioning the container. The requests till fails and the debug log has no entry of the request.

[2020-07-17 01:49] XiaoningLiu commented on #476
Environment variables shows AZURITE_ACCOUNTS is successfully parsed. Please check your connection string settings for endpoint `http://testdsited1d4f55318dd07.blob.stack.internal/testdsited1d4f55318dd07`. Does `testdsited1d4f55318dd07.blob.stack.internal` bind to Azurite IP?

[code]

[2020-07-17 05:12] blueww commented on #467
@patrickcarnahan
Thanks for the update!

[2020-07-17 07:16] borgdylan commented on #476
The issue was in the apache virtual host configuration. It was misrouting traffic to another azurite instance by mistake.

[2020-07-17 07:16] #476 closed

[2020-07-21 09:09] XiaoningLiu opened #480 "[Table] Project Setup - Generate from swagger"
Generation of Table models, handler interfaces, serializers and deserializers from public swagger https://github.com/Azure/azure-rest-api-specs/tree/master/specification/cosmos-db/data-plane/Microsoft.Tables/preview/2019-02-02

[2020-07-21 09:15] XiaoningLiu opened #481 "[Table] Project Setup - Contribution Guideline"
Tips for anyone contributes to Azurite V3 Table

[2020-07-21 09:26] XiaoningLiu opened #482 "[Table] Project Setup - Azurite V3 Table Design"
Provide Azurite V3 Table design for public contributor references.

[2020-07-21 09:26] XiaoningLiu opened #483 "[Table] Phase 1 Feature - Create Table"
https://docs.microsoft.com/en-us/rest/api/storageservices/create-table

- [x] Implement TableHandler::create()
- [x] Implement LokiTableMetadataStore::createTable()
- [ ] Add test cases
- [x] Add create table
- [x] Verify dispatch middleware can dispatch every request

[2020-07-21 09:26] XiaoningLiu opened #484 "[Table] Phase 1 Feature - Query Tables"
Read through:
- https://docs.microsoft.com/en-us/rest/api/storageservices/query-tables
- [Azurite V3 Table wiki](https://github.com/Azure/Azurite/wiki/Azurite-V3-Table)

Implement following parts:
- [ ] Implement TableHandler::query()
- [ ] Implement LokiTableMetadataStore::queryTable()
- [ ] Add test cases

Take Create Table implementation as example:
- [TableHandler::create()](https://github.com

[2020-07-21 09:26] XiaoningLiu opened #485 "[Table] Phase 1 Feature - Delete Table"
Read through:
- https://docs.microsoft.com/en-us/rest/api/storageservices/delete-table
- [Azurite V3 Table wiki](https://github.com/Azure/Azurite/wiki/Azurite-V3-Table)

Implement following parts:
- [x] Implement TableHandler::delete()
- [x] Implement LokiTableMetadataStore::deleteTable()
- [x] Add test cases

Take Create Table implementation as example:
- [TableHandler::create()](https://github.c

[2020-07-21 09:26] XiaoningLiu opened #486 "[Table] Phase 1 Feature - Query Entities"
Read through:
- https://docs.microsoft.com/en-us/rest/api/storageservices/query-entities
- [Azurite V3 Table wiki](https://github.com/Azure/Azurite/wiki/Azurite-V3-Table)

Implement following parts:
- [ ] Implement TableHandler::queryEntities()
- [ ] Implement TableHandler::queryEntitiesWithPartitionAndRowKey()
- [ ] Implement LokiTableMetadataStore::queryTableEntities()
- [ ] Implement LokiTableM

[2020-07-21 09:26] XiaoningLiu opened #487 "[Table] Phase 1 Feature - Insert Entity"
Read through:
- https://docs.microsoft.com/en-us/rest/api/storageservices/insert-entity
- [Azurite V3 Table wiki](https://github.com/Azure/Azurite/wiki/Azurite-V3-Table)

Implement following parts:
- [x] Implement TableHandler::insertEntity()
- [x] Implement LokiTableMetadataStore::insertTableEntity()
- [ ] Add test cases

Take Create Table implementation as example:
- [TableHandler::create()](htt

[2020-07-21 09:26] XiaoningLiu opened #488 "[Table] Phase 1 Feature - Update Entity"
Read through:
- https://docs.microsoft.com/en-us/rest/api/storageservices/update-entity2
- [Azurite V3 Table wiki](https://github.com/Azure/Azurite/wiki/Azurite-V3-Table)

Implement following parts:
- [x] Implement TableHandler::updateEntity()
- [x] Implement LokiTableMetadataStore::updateTableEntity()
- [x] Add test cases

Take Create Table implementation as example:
- [TableHandler::create()](ht

[2020-07-21 09:26] XiaoningLiu opened #489 "[Table] Phase 1 Feature - Delete Entity"
Read through:

- https://docs.microsoft.com/en-us/rest/api/storageservices/delete-entity1
- [Azurite V3 Table wiki](https://github.com/Azure/Azurite/wiki/Azurite-V3-Table)

Implement following parts:

- [x] Implement TableHandler::deleteEntity()
- [x] Implement LokiTableMetadataStore::deleteTableEntity()
- [x] Add test cases

Take Create Table implementation as example:
- [TableHandler::create()](

[2020-07-21 09:26] XiaoningLiu opened #490 "[Table] Phase 1 Feature - Merge Entity"

[2020-07-21 09:26] XiaoningLiu opened #491 "[Table] Phase 1 Feature - Insert Or Merge Entity"
Read through:

- https://docs.microsoft.com/en-us/rest/api/storageservices/merge-entity
- https://docs.microsoft.com/en-us/rest/api/storageservices/insert-or-merge-entity
- [Azurite V3 Table wiki](https://github.com/Azure/Azurite/wiki/Azurite-V3-Table)

Implement following parts:

- [ ] Implement TableHandler::mergeEntity()
- [ ] Implement LokiTableMetadataStore::mergeTableEntity()
- [ ] Add test

[2020-07-21 09:29] XiaoningLiu opened #492 "[Table] Phase 1 Feature - Insert Or Replace Entity"
Read through:

- https://docs.microsoft.com/en-us/rest/api/storageservices/update-entity2
- https://docs.microsoft.com/en-us/rest/api/storageservices/insert-or-replace-entity
- [Azurite V3 Table wiki](https://github.com/Azure/Azurite/wiki/Azurite-V3-Table)

Implement following parts:

- [x] Implement TableHandler::updateEntity()
- [x] Implement LokiTableMetadataStore::updateEntity()
- [x] Add test

[2020-07-21 09:29] XiaoningLiu opened #493 "[Table] Phase 1 Feature - Entity Group Transactions (Batch)"
Read through:

- https://docs.microsoft.com/en-us/rest/api/storageservices/performing-entity-group-transactions
- [Azurite V3 Table wiki](https://github.com/Azure/Azurite/wiki/Azurite-V3-Table)

Implement following parts:

- [ ] Check swagger has $batch RESTful defined. If not, add it into Azurite swagger [transform](link), then regenerate
- [ ] Implement TableHandler::batch()
- [ ] Implement meta

[2020-07-21 09:32] XiaoningLiu opened #494 "[Table] Phase 1 Feature - SharedKey Authentication"
Read through:

- https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-with-shared-key#table-service-shared-key-authorization
- [Azurite V3 Table wiki](https://github.com/Azure/Azurite/wiki/Azurite-V3-Table)

Implement following parts:

- [ ] Add AuthenticationMiddlewareFactory.ts into src/table/middlewares. Refer to [Azurite Blob AuthenticationMiddlewareFactory](https://github.com/a

[2020-07-21 09:32] XiaoningLiu opened #495 "[Table] Phase 1 Feature - Service SAS Authentication"
Read through:

- https://docs.microsoft.com/en-us/rest/api/storageservices/create-service-sas
- [Azurite V3 Table wiki](https://github.com/Azure/Azurite/wiki/Azurite-V3-Table)

Implement following parts:

- [ ] Add AuthenticationMiddlewareFactory.ts into src/table/middlewares. Refer to [Azurite Blob AuthenticationMiddlewareFactory](https://github.com/azure/azurite/blob/2395dec0eb8f235922ba34633bd8

[2020-07-21 09:32] XiaoningLiu opened #496 "[Table] Phase 1 Feature - Conditional Headers"
Read through:

- If-Match header in
  - https://docs.microsoft.com/en-us/rest/api/storageservices/update-entity2
  - https://docs.microsoft.com/en-us/rest/api/storageservices/merge-entity
  - https://docs.microsoft.com/en-us/rest/api/storageservices/delete-entity1
- [Azurite V3 Table wiki](https://github.com/Azure/Azurite/wiki/Azurite-V3-Table)

Implement following parts:

- [ ] Update merge/updat

[2020-07-21 09:32] XiaoningLiu opened #497 "[Table] Phase 1 Feature - Customized Storage Accounts"

[2020-07-21 09:32] XiaoningLiu opened #498 "[Table] Phase 1 Test - Unit Tests covering all phase 1 implemented APIs and utilities"

[2020-07-21 09:33] XiaoningLiu opened #499 "[Table] Phase 1 Feature - Logging"
Read through:

- [Azurite V3 Table wiki](https://github.com/Azure/Azurite/wiki/Azurite-V3-Table)

Implement following parts:

- [ ] Add debug log for handler or metadata layer implementations

[2020-07-21 09:33] XiaoningLiu opened #500 "[Table] Phase 1 Test - Scenario test against Azure Storage Explorer"

[2020-07-21 09:33] XiaoningLiu opened #501 "[Table] Phase 1 Test - Scenario test against Azure Durable Functions"

[2020-07-21 09:33] XiaoningLiu opened #502 "[Table] Phase 1 Test - Test against AzCopy (legacy version with Table support)"

[2020-07-21 09:33] XiaoningLiu opened #503 "[Table] Phase 1 Test - Test against storage .Net SDK"

[2020-07-21 09:34] XiaoningLiu opened #504 "[Table] Phase 1 Test - Test against storage .Java SDK"

[2020-07-21 09:34] XiaoningLiu opened #505 "[Table] Phase 1 Test - Test against storage Python SDK"

[2020-07-21 09:34] XiaoningLiu opened #506 "[Table] Phase 1 Test - Test against storage JS SDK"

[2020-07-21 09:34] XiaoningLiu opened #507 "[Table] Phase 1 Test - Test against storage C++ SDK"

[2020-07-21 09:34] XiaoningLiu opened #508 "[Table] Phase 1 Test - Test against storage DMLib"

[2020-07-21 09:34] XiaoningLiu opened #509 "[Table] Phase 1 Feature - Visual Studio Code Table"
Integrate Table with Visual Studio Code extension. Refer to Azurite V3 Blob/Queue as reference.

- [ ] VSC commands
- [ ] VSC configurations
- [ ] VSC status bar status

[2020-07-21 09:34] XiaoningLiu opened #510 "[Table] Phase 1 Feature - Docker image with Table"
Update: This item is taken by @takekazuomi. Assign this to me for tracking, as I cannot assign issue to contributors outside of Azure org.

- [x] Readme updates
- [x] MCR readme updates
- [x] Dockerfile updates
- [ ] Sanity checking

[2020-07-21 09:34] XiaoningLiu opened #511 "[Table] Phase 1 Feature - Table commandline parameters"
- [ ] Readme updates about table commandline parameters descriptions
- [ ] Sanity check every commandline parameter works in
  - [ ] azurite command
  - [ ] azurite-table command

Tips:
Build project then `npm install -g` to install `azurite` and `azurite-table` globally, then do the testing.

[2020-07-21 09:34] XiaoningLiu opened #512 "[Table] Phase 1 CI - Build Pipeline"

[2020-07-21 09:35] XiaoningLiu opened #513 "[Table] Phase 1 CI - Release Pipeline"

[2020-07-21 09:39] XiaoningLiu commented on #483
Picked up by @isabella0428, not sure why cannot assign properly, temporary assign this to me

[2020-07-22 08:09] balareddy2509 opened #514 "Azure policy - enable soft delete audit/deployifexists is not working"
### Which service(blob, file, queue, table) does this issue concern?
blob, fileshare
### Which version of the Azurite was used?

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
NuGet
### What's the Node.js version?

### What problem was encountered?
Azure Policy is not working as expected
### Steps to reproduce the issue?
{
    "properties": {
      "displayName

[2020-07-22 22:25] kirillrdy opened #515 "Unable to create storage container via ruby gem"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
git ad9395761a06bb3de10da17d5aace2eb40c4bdae

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
github

### What's the Node.js version?
v12.16.3
### What problem was encountered?
When trying to create storage container, i get this response from blob

[2020-07-23 03:08] XiaoningLiu commented on #515
Try 'http://localhost:10000/devstoreaccount1' as host.

[2020-07-23 03:12] XiaoningLiu commented on #514
This issue is not related to Azurite, please double check proper repo for issues about Azure Policy.

[2020-07-24 09:29] XiaoningLiu opened #516 "[Table] Phase 1 Feature - API Version Check"
Same with Blob/Queue. Validate incoming RESTFul API version is within allowed list.
Support skipAPIVersionCheck parameter

[2020-07-26 13:56] XiaoningLiu opened #520 "[Table] Generator - Rewrite isURITemplateMatch to compatible blob/queue/table (should be consistency)"

[2020-07-27 02:22] #480 closed

[2020-07-27 02:31] XiaoningLiu commented on #483
Legacy Azure Storage Table SDK doesn't support customize Accept header. We should further investigate how to workaround.

[2020-07-27 02:55] XiaoningLiu commented on #512
done

[2020-07-27 02:55] #512 closed

[2020-07-27 03:05] #514 closed

[2020-07-27 08:42] dbugnar commented on #386
I had the same issue. And after I used the shared key that @XiaoningLiu pointed in the logs it worked. (Thanks)
Is there a way to get this key from an endpoint call?

[2020-07-27 08:56] XiaoningLiu commented on #428
Hi guys, after serveral rounds of discussion and review. Azurite V3 is going to support Table. It's great if anyone likes to contribute to Azurite V3 Table. Use following queries for all opening TODO items:
- [Phase 1 Preview Features, All](https://github.com/azure/azurite/issues?q=is%3Aissue+label%3Anewarch+label%3Atable-storage+label%3Afeatureparity+milestone%3A%22Preview+-+Azurite+V3+Table%22+i

[2020-07-27 08:56] XiaoningLiu commented on #251
Hi guys, after serveral rounds of discussion and review. Azurite V3 is going to support Table. It's great if anyone likes to contribute to Azurite V3 Table. Use following queries for all opening TODO items:

Phase 1 Preview Features, All
Phase 1 Preview Features, Unassigned
Phase 1 Preview Testing, All
Phase 1 Preview Testing, Unassigned
Other references:
Azurite V3 Table GitHub Branch: https://gi

[2020-07-27 08:57] XiaoningLiu commented on #253
Hi guys, after serveral rounds of discussion and review. Azurite V3 is going to support Table. It's great if anyone likes to contribute to Azurite V3 Table. Use following queries for all opening TODO items:

Phase 1 Preview Features, All
Phase 1 Preview Features, Unassigned
Phase 1 Preview Testing, All
Phase 1 Preview Testing, Unassigned
Other references:
Azurite V3 Table GitHub Branch: https://gi

[2020-07-27 17:52] jddsc opened #523 "SaS throwing "Server failed to authenticate the request""
### Which service(blob, file, queue, table) does this issue concern?
Blob
### Which version of the Azurite was used?
3.8.0
[code]
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
DockerHub
### What problem was encountered?
[code]
### Steps to reproduce the issue?
[code]
[code]
### Have you found a mitigation/solution?
No

[2020-07-28 01:56] XiaoningLiu commented on #386
SharedKey authentication is one of critical features Azurite provides (instead of ignoring authentication) and aligns with Azure Storage. Refer to https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-with-shared-key about how does SharedKey works.

In the same time, you can use this SAS (generated from devstoreaccount1) if you need debug in Curl or Postman.

[code]

Append above SAS

[2020-07-28 03:08] XiaoningLiu commented on #484
Hi @jongio, per your sync with Vincent. Assign this to you, believe Query Table is a good starter.

[2020-07-28 03:09] blueww commented on #523
@jddsc
Would you please share which step throw this error?
And would you please share Azurite debug log for this error?

[2020-07-28 04:54] #510 closed

[2020-07-28 08:45] jddsc commented on #523
On
`list_containers = list(container.list_blobs())`

I'm getting:
[code]

[2020-07-28 08:54] iamNoah1 commented on #235
@XiaoningLiu at least for me the reason to use legacy version is that new versions don't include tablestorage

[2020-07-28 09:16] jddsc commented on #523
Azurite logs:
[code]

[2020-07-28 10:36] blueww commented on #523
@jddsc

From the debug log, it looks the access policy used to generate SAS not exist on the container.
[code]

[2020-07-28 13:04] jddsc commented on #523
@blueww
It worked. Thanks!!
But my code was based on [this](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-storage-blob/samples/blob_samples_containers.py). So the examples probably not accurate.

[2020-07-29 02:38] blueww commented on #523
@jddsc

For the python SDK sample problem, we might not be the best person to follow it. Would you like to open an issue in https://github.com/Azure/azure-sdk-for-python, and the related team will follow it?

And for this issue, as your have get it resolved, would you like to close it?
Feel free to contact us again if you need further assistance on Azurite.

[2020-07-29 08:49] #523 closed

[2020-07-30 01:52] zzhxiaofeng opened #526 "Running BlockBlobClient highlevel unit test with t2 Azure Storage SDK has an socket issue"
Azurite Version: v3.8.0
Package Name: @azure/storage-blob
Package Version: v12.1.2
Operating System: windows 10
Nodejs Version: v12.18.0
Typescript Version: v3.9.5

Issue Description:
Run BlockBlobClient highlevel unit test with t2 Azure Storage SDK In Azurite, an socket issue is shown in the figure below:
![Annotation 2020-06-17 103855](https://user-images.githubusercontent.com/20970631/88870059-

[2020-07-30 01:53] XiaoningLiu opened #527 "Socket hang up when Track2 JS SDK enables keep-alive for highlevel block blob upload"
See https://github.com/Azure/Azurite/pull/472

[2020-07-30 07:45] #489 closed

[2020-08-03 07:58] XiaoningLiu commented on #235
@iamNoah1 Check Azurite v3 Table project https://github.com/Azure/Azurite/projects/2, open to contribution!

[2020-08-04 22:34] kirillrdy commented on #515
Sorry, I haven't had a chance to get back to you. Closing for now, if I have any more questions I'll reopen or open a new issue.

Thanks

[2020-08-04 22:34] #515 closed

[2020-08-11 18:36] patrickcarnahan opened #530 "[blob]: enable cross account async copy (same server)"
### Which service(blob, file, queue, table) does this issue concern?

Blob

### Which version of the Azurite was used?

3.8.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)

DockerHub

### What's the Node.js version?

### What problem was encountered?

copying a blob which exists in a different storage account does not work and instead returns a 404. it turns

[2020-08-11 19:23] iamNoah1 commented on #490
@XiaoningLiu can you please assign it to me

[2020-08-13 05:32] XiaoningLiu commented on #530
Hi @patrickcarnahan

Copy Blob is a complex scenario where copy source may be internal resources inside Azurite (same account or different account), or copy source may be external resources. Current implementation only supports copy from same account hosted by Azurite.

I think it's a valid point to support copy from another account hosted by Azurite. However, we couldn't do this by simpliy removi

[2020-08-13 11:22] patrickcarnahan commented on #530
@XiaoningLiu you are correct. In my haste I wasn't specific enough, so I updated the title accordingly. In our case we do have a valid SAS token for the source account, so it meets the criteria you have laid out.

If I were to submit a PR that enables cross account async copy within the same server (no http requests involved here) would that be accepted as a standalone change? Ideally if the sourc

[2020-08-13 17:17] paveliak opened #531 "Invalid behavior when doing full upload after non-committed multipart upload"
### Which service(blob, file, queue, table) does this issue concern?
Blob

### Which version of the Azurite was used?
3.8.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
We user docker container built from a fork at https://github.com/patrickcarnahan/Azurite
But generally we use docker image from `mcr.microsoft.com/azure-storage/azurite@sha256:f1fdee4a4522665

[2020-08-13 20:02] patrickcarnahan commented on #530
Did more digging today and validated your concern that the `copySource` SAS token is not validated. Are there any other requirements besides that validation which are missing?

[2020-08-14 02:11] XiaoningLiu commented on #530
Glad to see your contribution! There are some scenarios about copy blob.

Scenarios:
1. Copy blob from same account in same Azurite instance;
2. Copy blob from another account in same Azurite instance;
3. Copy blob from another account in another Azurite instance;
4. Copy blob from external accessable URL resource; e.g from publich downloadable resource

Current we only support scenario 1. And the

[2020-08-14 02:15] patrickcarnahan commented on #530
I'm happy to do whatever is most helpful. It seems like going the extra mile isn't considerably more work, but I'll start with your suggestion and we can go from there.

Thanks for this project! Our test runs are much more reliable.

[2020-08-14 02:20] XiaoningLiu commented on #531
Thanks @paveliak Believe Azure Blob Storage has additional validation against blocks length or block ID while Azurite doesn't. Azurite currently trys to align Azure Blob Storage features and behaviors while are well documented. Will check if it's another undocumented negative check and update accordingly.

[2020-08-14 02:29] XiaoningLiu commented on #490
Hi @iamNoah1 Sent out request to join Azurite project after which i can assign this to you.

[2020-08-14 02:39] XiaoningLiu commented on #490
Assigned to meself before @iamNoah1 joined Azurite project.

[2020-08-14 06:45] alexwlchan opened #532 "Azurite allows blob storage metadata which is not allowed by Azure proper"
### Which service(blob, file, queue, table) does this issue concern?

Blob

### Which version of the Azurite was used?

3.8.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)

Docker Hub

### What's the Node.js version?

Whatever comes in the container

### What problem was encountered?

Azurite allows the user to write blob storage metadata with names which are

[2020-08-14 07:04] alexwlchan opened #533 "Azurite allows underscores in container names; Azure proper disallows them"
### Which service(blob, file, queue, table) does this issue concern?

Blob.

### Which version of the Azurite was used?

3.8.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)

Docker Hub

### What's the Node.js version?

Whatever comes in the container

### What problem was encountered?

Azurite allows the user to create a blob storage container with names whic

[2020-08-14 08:29] #485 closed

[2020-08-14 08:29] #488 closed

[2020-08-14 14:17] paveliak commented on #531
Thanks @XiaoningLiu Here is unit test for this issue. Hope it would be helpful:
[code]

[2020-08-14 18:12] rishu73 opened #534 "Azurite returns a HTTP header error when called with the new Azure.Storage.Blobs (12.5.0 Stable) package"
### Which service(blob, file, queue, table) does this issue concern?
Blob Service
### Which version of the Azurite was used?
3.6
Works better in 3.8 though. Closing

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
mcr.microsoft.com/azure-storage/azurite
### What's the Node.js version?
12.18.2
### What problem was encountered?
Attempted to iterate through the res

[2020-08-14 18:18] #534 closed

[2020-08-14 18:18] rishu73 commented on #534
Updated Azurite to 3.8 and error went away.

[2020-08-15 15:21] phanvinh0526 commented on #268
Hi,
Any update so far on this issue?. Since I am still getting this issue on MacOS (Durable Function V2 and Azurite)

[2020-08-17 02:21] blueww commented on #533
@alexwlchan

Thanks for reporting this issue!
We will schedule the fix in a future release.

[2020-08-17 02:30] XiaoningLiu commented on #268
Azure Durable Functions requires Azure Table which is not supported by Azurite V3 yet. However, after serveral rounds of discussion and review. Azurite V3 is going to support Table. It's great if anyone likes to contribute to Azurite V3 Table. Use following queries for all opening TODO items:
- [Phase 1 Preview Features, All](https://github.com/azure/azurite/issues?q=is%3Aissue+label%3Anewarch+lab

[2020-08-17 09:14] blueww commented on #532
@alexwlchan

Thanks for reporting this issue!
We will investigate/triage it and see how to fix it.

[2020-08-19 13:15] kannangce opened #537 "How to create ApplicationTokenCredentials instance for Azure emulator?"
### Which service(blob, file, queue, table) does this issue concern?
blob

### Which version of the Azurite was used?
3.8.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
DockerHub

### What's the Node.js version?
N/A

### What problem was encountered?

Need help in creating  *Authentication file* or `ApplicationTokenCredentials` instance for Azurite.

### Ste

[2020-08-19 22:46] dennisdietrich commented on #303
Please increase the priority of this issue. Microsoft is pushing Azurite as the official replacement for the Azure Storage Emulator. Yet, here we have something - verifying that I set the correct MD5 - that's impossible to test with Azurite at the moment. I can't think of anything more important for file/blob operations than data integrity so this is something I absolutely have to get right in my

[2020-08-21 02:55] XiaoningLiu commented on #537
Hi @kannangce Don't understand your question. What's `ApplicationTokenCredentials` you are referring to?

[2020-08-23 01:46] markddrake opened #538 "Attaching Azure Storage Explorer to remote Azurite Docker image ?"
### Which service(blob, file, queue, table) does this issue concern?
Blob
### Which version of the Azurite was used?
docker/latest

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
Dockerhub

### What's the Node.js version?

### What problem was encountered?

### Steps to reproduce the issue?
Started Docker Image on Remote Docker Host machine with

[code]
Using t

[2020-08-24 04:12] blueww commented on #538
@markddrake
Thanks for raising the issue!

For Connection string, please remove the space, and line change char in the connection string and try again:
[code]

For the error with "InvalidQueryParameterValue"
Would you like to provide the Azurite debug log for it?

[2020-08-24 09:12] zzhxiaofeng opened #539 "Get host and port from Azurite server instance in Azurite table"
There is a [TODO](https://github.com/Azure/Azurite/blob/table/src/table/handlers/TableHandler.ts#L88) in Azurite table. Can you check whether the host and port should get from Azurite server settings instead of requests?

[2020-08-26 08:05] blueww commented on #539
@isabella0428
Please help to look at this table task.

[2020-08-26 16:34] pellebjerkestrand opened #540 "A Node.js/JavaScript API"
First: thanks for this project. It works extremely well for all my purposes (except one).

### Which service(blob, file, queue, table) does this issue concern?
All services

### Which version of the Azurite was used?
3.8.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm

### What's the Node.js version?
12.18.0

### What problem was encountered?
Can not requ

[2020-08-27 09:41] XiaoningLiu commented on #537
Hi @kannangce

It should work. If the token credential works for your production storage account, then it will work for Azurite. Anyway take a try, report any Azurite errors/debug.log here.

[2020-08-27 09:44] XiaoningLiu commented on #496
@Guilhermeslucas Sure! Sent you an invitation to join Azurite project thus I can assign this to you.

[2020-08-28 08:22] blueww commented on #540
@pellebjerkestrand

Thanks for the suggestion!
We will evaluate it in our team.

[2020-08-28 08:43] XiaoningLiu commented on #491
Assign to @CodeUnicornMartha, welcome for contribution!

[2020-09-01 10:24] vkuehn opened #542 "Azurit works with npm cli but not in VS Code"
### Which service(blob, file, queue, table) does this issue concern?
tested with Blob, probably others too
### Which version of the Azurite was used?
3.8.0
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm and VS Code
### What's the Node.js version?
v12.18.3
### What problem was encountered?
Work with nmp install but not in VS Code for DOTNET Core. Might be re

[2020-09-02 03:47] blueww commented on #542
@vkuehn

As the Storage Explorer works with both versions, it looks not like an Azurite problem.
Would you please share the DOTNET Core code (hide credential), and Azurite configuration?
And better with Azurite debug log when the issue happen.

[2020-09-02 05:41] #483 closed

[2020-09-02 05:41] #487 closed

[2020-09-02 07:22] cybercop opened #543 "Container not found error on specific cases"
Here is my docker -compose file

[code]

Here is part of my c# code

[code]

Connection string used:
`      ConnectionString =       "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://Storage.Azurite:10000/devstoreaccount1;";`

When i run the application in debug mode
`a

[2020-09-02 08:45] cybercop commented on #543
seems like it was azure blob nuget package issue
I update the nuget package and everything seems to work now

Old package version:
    <PackageReference Include="Azure.Storage.Blobs" Version="12.5.0-preview.6" />
    <PackageReference Include="Azure.Storage.Common" Version="12.5.0-preview.6" />

New package version:
    <PackageReference Include="Azure.Storage.Blobs" Version="12.6.0" />
    <Packa

[2020-09-02 08:45] #543 closed

[2020-09-02 10:17] vkuehn commented on #542
@blueww

here the donetcore code

`namespace WatchStorage
{
    #region Constructor
    public class WatchStorageFunctions
    {
        private ILogger Logger { get; set; }

        public WatchStorageFunctions(ILogger<WatchStorageFunctions> logger)
        {
            this.Logger = logger;
        }
        #endregion

        [FunctionName("TaskWatchWebjobs")]
        // Connection = "AzureWe

[2020-09-03 02:46] jigneshdpatel opened #548 "Extension issue"
- Issue Type: `Performance`
- Extension Name: `azurite`
- Extension Version: `3.8.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.48.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2020-09-03 06:51] blueww commented on #542
@vkuehn
The program you shared doesn't contain the information need to investigate the issue. Like how you connect to Azurite:  connection string, Uri, port ...., and I also don't see any Storage API is called in the program.

Would you please share how you connected to storage, and the storage API you called. (are they in "BlobTrigger"?)

Besides that, please also share the Azurite configuration,

[2020-09-03 14:09] vkuehn commented on #542
you would config the connection in a config file which does not contain anything else but

{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;QueueEndpoint=http://127.0.0.

[2020-09-03 15:51] jamesmcroft commented on #253
The work being done here to provide support for Table storage is incredible! Thanks everyone involved 👍

Looking through the milestones and the work already complete, what would the timescales be for the Phase 1 work to be available in some capacity for testing with?

Recently stumbled on this with our CI/CD failing builds do to Azurite not noticing that the issue was support not being there for T

[2020-09-04 04:51] #484 closed

[2020-09-04 06:43] XiaoningLiu commented on #253
Here is for phase-1 features Azurite V3 Table going to support. https://github.com/azure/azurite/issues?q=is%3Aissue+label%3Anewarch+label%3Atable-storage+label%3Afeatureparity+milestone%3A%22Preview+-+Azurite+V3+Table%22+is%3Aopen

[2020-09-04 07:46] blueww commented on #548
@jigneshdpatel
Thanks for raising the issue!
Will evaluate it in our team.

[2020-09-04 07:58] blueww commented on #542
@vkuehn
Would you please share the debug log for Azurite when the issue happen?
For VS extension, you can enable "Debug" in the extension setting, then in "Output" tab, choose "Azurite Blob debug", and save the debug log to a file.

Besides that, to repro the issue, would you please share a project that can build and run to repro the issue?

[2020-09-06 05:41] Adebeer commented on #439
Hi have exact same issue. Our projects all use both CosmosDB + Azure storage.
My preference is to run both in docker containers, but atm I have to choose either Azurite or CosmosDB emulator as I can't run both windows/Linux containers at same time. Right now I'm giving preference to CosmosDB emulator simply cause it is a PITA to get working properly in windows - hence the reason I switched to dock

[2020-09-07 12:05] vkuehn commented on #542
@blueww I honestly tried to get a better log but failed badly. How to produce a proper log (link to right doc appreciated) !?

[2020-09-08 07:15] blueww commented on #542
@vkuehn
It should be a standard way to show debug log in VS code.
Like following picture:
1. Enable "Debug" in Azurite setting
2. start Azurite Blob service
3. Choose "Azurite Blob debug" in "Output" Tab
4. Then you can see the debug log in output tab

Please try to repro the issue and share the debug log with us.
Besides that, would you please share a project that can build and run to repro the i

[2020-09-08 12:04] vkuehn commented on #542
meantime it looks like I have no code to reproduce the issue anymore. Also I switched to visual studio and it's embedded storage emulator.

Thanks for your effort. I will do propper debugging next time !

[2020-09-08 12:04] #542 closed

[2020-09-08 16:45] edwin-huber commented on #486
Hi @XiaoningLiu  @isabella0428 ,
sorry, don't want to come across as impatient ::innocent:: we are waiting on the queryEntitiesWithPartitionAndRowKey handler for our insert or merge and upsert handlers test cases.

It looks like it has not been implemented here.

I already had to implement on the Loki metadata handler to complete the upsert, would not be much more to add the externally facing API

[2020-09-10 14:57] Arnaud-Nauwynck opened #553 "Is there a plan to support AdlsGen2 (Datalake Storage) on top of blobstore emulator ?"
### Which service(blob, file, queue, table) does this issue concern?
not existing currently in V3 : AdlsGen (Datalake)

This is a question: Is there a plan to support AdlsGen2 (Datalake Storage) on top of blobstore emulator ?
If yes, when would it be available?

### Which version of the Azurite was used?
V3, unusable yet, laking ADlsGen2 support

### Where do you get Azurite? (npm, DockerHub, NuGe

[2020-09-10 16:26] sjondavey opened #554 "Debugging Blob Trigger requires starting Azurite Queue Service"
### Which service(blob, file, queue, table) does this issue concern?
Blob

### Which version of the Azurite was used?
VSCode extension 3.8.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VSCode Extension

### What's the Node.js version?
Not sure

### What problem was encountered?
I have a function that only uses Blobs, no Queues. If I start the Azurite Blob S

[2020-09-11 02:54] PureKrome commented on #473
@gmantri Heya- do you have to grab Azurite _via npm_ ? Why not use it via Docker?

[2020-09-12 03:02] ocdi commented on #516
This one was fairly simple so I had a go at it.

[2020-09-12 06:42] ocdi commented on #495
I'm giving this one a go

[2020-09-13 05:23] ocdi commented on #494
This task overlaps #495 and is required to get the unit tests to pass after introducing authentication, so I am tackling this now also.

[2020-09-14 03:51] XiaoningLiu commented on #495
Thanks @ocdi!

[2020-09-14 06:37] #530 closed

[2020-09-14 06:55] XiaoningLiu commented on #554
Hi @sjondavey Can you post the question to Azure Function repo? It's not related to azurite.

[2020-09-14 07:02] XiaoningLiu commented on #553
Hi @Arnaud-Nauwynck, can you further description your usage scenarios? For example, are you using a datalake gen2 account with or without hierarchical namespace enabled? Do you use any datalake storage sdks? which datalake gen2 features you are most interested? Interop between blob or datalake gen2?

[2020-09-14 07:08] XiaoningLiu commented on #439
Hi, appreicated and welcome anyone can contribute a docker file for windows based image : )

[2020-09-14 07:10] sjondavey commented on #554
Thanks @XiaoningLiu

I have logged the same issue [here](https://github.com/Azure/Azure-Functions/issues/1716)

[2020-09-15 04:53] sjondavey commented on #554
From the 'Functions' thread:
The blob trigger uses a queue behind the scenes. The binding puts changes in the storage account into a queue, and functions are triggered from that queue.

Here’s a bit more info on this in the docs: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=javascript#concurrency-and-memory-usage

[2020-09-15 04:53] #554 closed

[2020-09-15 13:59] #467 closed

[2020-09-17 09:19] #492 closed

[2020-09-17 09:32] edwin-huber commented on #499
Table already has logging implementation
- log module shared by blob/queue/table
- also has some debug log output

This item is more about checking any missing parts of logging and making sure it works as expected.

[2020-09-20 13:36] iBavtovich commented on #415
@pjknkda @XiaoningLiu Probably, the problem is caused by the `blobName` and not by `contentDisposition`, which is obtained from incoming request as url-encoded value. But signature in Java SDK (I expect in others as well) is calculated from un-url-encoded value. As a result in case if your blob name has some symbols which should be encoded (in my case it it `/`), there going to be sas signature mi

[2020-09-21 19:34] patrickcarnahan opened #579 "[Blob]: sql store getBlockList does not throw NotFound for non-existent blobs"
### Which service(blob, file, queue, table) does this issue concern?

Blob

### Which version of the Azurite was used?

3.8.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)

DockerHub

### What's the Node.js version?

N/A

### What problem was encountered?

An empty result set is returned instead of an error code, which differs in behavior from both the `loki`

[2020-09-23 10:19] #579 closed

[2020-09-23 17:03] patrickcarnahan commented on #443
@atrauzzi #577 adds support for asynchronous copy using the `sql` metadata store. it's entirely possible that the UI makes use of the synchronous copy call, i'm not positive how it works.

care to give it a spin and see if it resolves you issue?

[2020-09-24 07:50] kuba-lilz commented on #55
@XiaoningLiu Is there any timeline on cors settings release?

[2020-09-24 09:18] #443 closed

[2020-09-25 03:00] XiaoningLiu commented on #511
Picked up by @ocdi, but cannot assign this issue to @ocdi, assign to me to avoid others picking this up.

[2020-09-25 03:01] #516 closed

[2020-09-25 03:02] #511 closed

[2020-09-25 03:02] #491 closed

[2020-09-25 03:03] #494 closed

[2020-09-25 03:03] #495 closed

[2020-09-27 09:08] XiaoningLiu commented on #55
@kuba-lilz Already released : ) Will close this issue.

[2020-09-27 09:08] #55 closed

[2020-09-30 21:52] sachinkshetty opened #587 "azure file share compatibility"
can azurite be used for azure file share also

[2020-10-01 09:06] BenjaBobs commented on #182
I also would like to be able to define logging level filters. I guess being able to choose between all or nothing is better than only being able to choose all. But I would like to see only errors.

[2020-10-01 20:17] brandonh-msft opened #588 "Need ability to clear all storage"
### Which service(blob, file, queue, table) does this issue concern?
All

### Which version of the Azurite was used?
3.8.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm

### What's the Node.js version?
12/18/4

### What problem was encountered?
I clear storage like I could with Azure Storage Emulator using `clear all`, `clear blob`, etc.

### Steps to rep

[2020-10-03 20:43] AArnott opened #589 "azurite launch scripts should support disconnecting from parent process stdio streams"
### Which service(blob, file, queue, table) does this issue concern?

blob

### Which version of the Azurite was used?

3.8.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)

npm (the NuGet one hasn't been touched in years. Is it deprecated?)

### What's the Node.js version?

12

### What problem was encountered?

The `azurite` scripts should support spinning o

[2020-10-04 21:33] seungjin-clumio opened #591 "Unable to use Blob metadata with Go SDK"
### Which service(blob, file, queue, table) does this issue concern?
Blob
### Which version of the Azurite was used?
3.8.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
Tried on npm and Docker
### What's the Node.js version?
12.15.0
### What problem was encountered?
Downloading blob metadata always results in nil map for [Go SDK](https://github.com/Azure/azur

[2020-10-04 21:50] seungjin-clumio commented on #591
Uploading a blob using Python then downloading it with Go allows Go to see correct metadata.
Uploading a blob using Go and downloading it with Python returns nothing.

[2020-10-06 09:04] edwin-huber commented on #499
Validated logging in table middleware

[2020-10-06 17:22] stingster commented on #456
Any update on this issue?

[2020-10-07 12:25] lixaotec commented on #113
+1 vote

[2020-10-08 02:25] atrauzzi commented on #443
I'll definitely take a look next chance I get and report back!  Thank you! :smile:

[2020-10-09 04:14] backerman opened #593 "Failure injection"
### Which service(blob, file, queue, table) does this issue concern?
All

### Which version of the Azurite was used?
3.8.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VSCode extension

### What's the Node.js version?
N/A

### What problem was encountered?
Failure injection would be useful to validate error handling in client code, e.g.:
- Rate limit exceede

[2020-10-09 09:54] blueww commented on #456
@stingster

Thanks for the checking!
We are busy on some other stuffs, so still have not start this item.

We welcome contribute to Azurite.
If you would like to contribute, you can add the container name check in context middleware : https://github.com/xiaoningliu/Azurite/blob/4ef9204082a21c3ad5f72c7800940c3282ffb1d6/src/blob/middlewares/blobStorageContext.middleware.ts#L66

[2020-10-09 09:57] blueww commented on #589
@AArnott

Thanks for raising the issue!
We will evaluate it.

We welcome contribution to Azurite.
It would be great if you could contribute the the fix of this issue.

[2020-10-10 08:15] blueww commented on #593
@backerman

Thanks for the suggestion!
We will evaluate it. Actually, we also has opened an item to track Fault Injection.

Open source contributions are very welcome. If you wants to contribute to Fault Injection of Azurite, feel free to send PR.

[2020-10-10 08:17] blueww commented on #588
@brandonh-msft

Normally, You can just clear the files listed [here ](https://github.com/Azure/azurite#workspace-structure), in [the workspace ](https://github.com/Azure/azurite#workspace-path-configuration).

If you use SQL to save metadata, you can just delete the related DB.

[2020-10-11 19:46] StingyJack commented on #473
If you installed azurite with the `-g` switch, this will happen if you dont have your NPM folder in your `PATH`.  Add

[code]
to your `PATH` Environment variable, then open a new cmd or powershell window.

[2020-10-13 05:59] brandonh-msft commented on #588
Of course; but that only works as long as y'all never change how you're storing stuff on the backend and/or always keep the docs in sync when you do.

Since this is a replacement for the old emulator, I think it should at least have parity with it. I want to focus on the task at hand, and having to context switch to poke around filesystems or databases isn't conducive to that.

[2020-10-13 06:07] blueww commented on #588
@brandonh-msft

Thanks for the reply!
Would you please clarify what do you mean " it should at least have parity with it. "?

Open source contributions are very welcome. If you have a better solution for that, and would like to contribute to it, feel free to send PR.

[2020-10-13 08:23] XiaoningLiu commented on #591
Hi @seungjin-clumio, sorry for the late response. According to "Looking at the debug logs, request sent from Go does include the correct header for the metadata and HandlerMiddleware does include correct metadata in its deserialized parameters." Can you help provide Azurite debug.log when using Go upload with metadata?

[2020-10-13 08:30] seungjin-clumio commented on #591
Sure thing, here are the debug and blob extent files for the respective repro code.
[files.zip](https://github.com/Azure/Azurite/files/5369990/files.zip)

[2020-10-13 17:36] brandonh-msft commented on #588
Anything that I could do w/ the old Azure Storage Emulator I should be able to do in Azurite.

[2020-10-13 21:19] aksingh004 opened #596 "Azurite is a lot slower than AWS Emulator MinIO"
I am using C++ API of Azurite to test performance and notice that loading a database table or reading a table from Azurite is 4 to 5 times slower than AWS S3 emulator MinIO.

I tried upload_block and upload_text for uploading data and download_to_stream for downloading.

I wonder if Azurite is overall slower than real Azure or am I missing some configuration that can improve performance?

Azurite

[2020-10-14 06:28] blueww commented on #588
@brandonh-msft

Thanks for the reply!

Would you please share what's your preferred way for Azurite to clean all data?
Do you want a command line to clean up that?

For this request, we will evaluate per the customer vote. If there are many customer need it, we will high priority it.
And since Azurite is open source, we welcome contribution very much! If you would like to contribute to resolve it,

[2020-10-15 07:22] stingster opened #597 "Start Azurite container in HTTPS mode"
### Which service(blob, file, queue, table) does this issue concern?
Azurite Blob Storage

### Which version of the Azurite was used?
3.8.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
DockerHub

### What's the Node.js version?
N/A

### What problem was encountered?
Can't pass self-signed certificate into the container

### Steps to reproduce the issue?
Pull

[2020-10-15 08:12] stingster commented on #597
It seems it works with 3.9.0.

[2020-10-15 08:12] #597 closed

[2020-10-15 18:50] SonOfSardaar opened #598 "Server failed to authenticate the request"
### Azurite branch "table" (latest)

### Node 14.11

After starting azurite, I tried connecting to it with storage explorer with following options, when I got following response
![image](https://user-images.githubusercontent.com/9803499/96173919-76b6e580-0f20-11eb-9f19-408555abdd03.png)

Here is version of storage emulator
![image](https://user-images.githubusercontent.com/9803499/96173206-6f430c8

[2020-10-15 21:42] brandonh-msft commented on #588
yes

[2020-10-16 02:45] blueww commented on #588
Will follow up that with @brandonh-msft  in mail.

[2020-10-20 03:00] XiaoningLiu commented on #598
Hi @SonOfSardaar, table branch is still under development. Entity querying is not supported yet. Can you enable Azurite debug log by parameter "--debug debug.log" and attached the debug log here?

[2020-10-20 03:15] XiaoningLiu commented on #596
Hi @aksingh004, thanks for the feedback. Can you tell us more about your user scenarios and why need, this helps us better understand customer needs.

By default, Azurite targets to simulate Azure Storage features instead of performance targed. One of the bottleneck of Azurite is from Node.js which by default is a single process and all Azurite Node.js logic are within one main thread. You can see

[2020-10-20 07:55] XiaoningLiu commented on #591
Checked the debuglog, the upload request from Go and Python both include "x-ms-meta-metakey":"metaval" header. Will plan some time to further debug.

[2020-10-20 08:18] XiaoningLiu commented on #182
Mark this as feature request to expose logging level parameters.

[2020-10-20 08:20] XiaoningLiu commented on #587
Doesn't support Azure Storage File Share. Track this as a feature ask for evaluation.

[2020-10-23 21:45] ziizaisoar opened #601 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azurite`
- Extension Version: `3.9.0`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.50.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2020-10-25 11:11] longtimeago opened #602 "The simplest way to setup new containers via http api?"
### Which service(blob, file, queue, table) does this issue concern?
blob

### Which version of the Azurite was used?
3.9.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
DockerHub

### What's the Node.js version?
-

### What problem was encountered?
[code]
doesn't work anymore
[code]

### Steps to reproduce the issue?

### Have you found a mitigation/solution

[2020-10-25 23:07] bas-deweerd commented on #453
Any idea when this feature will be implemented?

How can we vote for this feature request?

[2020-10-26 06:07] blueww commented on #602
@longtimeago

Please  check you have input the storage account name and key in https://github.com/Azure/Azurite#default-storage-account.
Azurite will check the account credential.

If you have already input the correct account credential, would you please share the debug log for the failure request?

[2020-10-26 06:13] blueww commented on #601
@ziizaisoar

Thanks for reporting the issue!

Would you please clarify what's the issue do you concern most? Do you mean Azurite starting loading time in VSC extension is too long?
If so, we will evaluate it, and consider to optimize it in the future.

[2020-10-26 06:29] longtimeago commented on #602
@blueww yup, I've tried to change my url with mentioned account key
[code]

Got the same 403 error.
Here is the debug output
[code]

[2020-10-26 08:27] blueww commented on #602
@longtimeago

The credentail you input with Curl is not in the correct format.

If you want to use key credential, you can reference following link to see how to set key credential necessary with Curl : https://stackoverflow.com/questions/20103258/accessing-azure-blob-storage-using-bash-curl

For a simpler way, you can just create an account SAS token with at least blob service, and container reso

[2020-10-26 08:57] ziizaisoar commented on #601
Hi,

I just inputted Show Running Extensions in command palette and it showed  Azurite Activation taking much longer time than other extensions, so I had it disabled.

Regards
Ji Fang

From: Wei Wei <notifications@github.com>
Sent: Monday, October 26, 2020 2:13 PM
To: Azure/Azurite <Azurite@noreply.github.com>
Cc: Fang Ji <FJi2@slb.com>; Mention <mention@noreply.github.com>
Subject: [Ext] Re: [Azu

[2020-10-27 09:19] longtimeago commented on #602
@blueww uff ... took me a while but eventually SAS way worked.
The lack of proper tooling makes this way quite challenging.
TBH, for the integration-testing use-case I'd expect azurite to have simplified technical API to setup and assert internal state (just as it was in 2.6.5).

Anyway, thanks for your help! :+1:

[2020-10-27 09:19] #602 closed

[2020-10-27 13:34] frigus02 opened #603 "SyncCopyFromURL does not return x-ms-copy-status header"
### Which service(blob, file, queue, table) does this issue concern?

Blob

### Which version of the Azurite was used?

3.9.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)

I tested the version from npm and DockerHub.

### What's the Node.js version?

v14.9.0

### What problem was encountered?

I tried to call the newly implemented SyncCopyFromURL method usin

[2020-10-28 03:34] blueww commented on #603
@frigus02

Thanks for raising this issue!
Yes, it's correct to fix this by adding `CopyStatus `in the responds, Anyway, this copyStatus has different type from `startCopyFromURL `function responds, so you might can add `copyStatus: Models.SyncCopyStatusType.Success,`

Besides that, should also update [copyFromURL() function in LokiBlobMetadataStore.ts ](https://github.com/Azure/Azurite/blob/master

[2020-10-28 04:02] blueww commented on #602
@longtimeago
Good to know you get it work for you!

Azurite V3 will validate the credential from the input request, this is an enhancement from Azurite V2, make Azurite be more aligned with server.

To generate SAS, you can generate it with SDK or other tools. I use Powershell as following steps:
1. Install Powershell Storage module with adminitrator priviliage (one time work) : `Install-Module Az

[2020-10-28 06:57] longtimeago commented on #602
@blueww thank you! :+1:

[2020-10-28 08:51] frigus02 commented on #603
Thanks for the quick response. I will give this a go.

[2020-10-30 06:34] XiaoningLiu commented on #593
Collecting candidate injection scenarios:
- HTTP response cutted
- Sever timeout
- HTTP chunked response (check with Tank around 10/30 c++ case)

[2020-10-30 23:29] wwlorey opened #605 "The behavior of listing blobs is inconsistent between Azurite and Azure"
### Which service(blob, file, queue, table) does this issue concern?
Blob

### Which version of the Azurite was used?
v3.9.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
VS Code extension

### What's the Node.js version?
v10.16.3

### What problem was encountered?
In Azurite, `listBlobsByHierarchy` attempts to list a directory and its contents when the direc

[2020-11-03 02:45] JustinGrote commented on #391
@XiaoningLiu can you enable the use of variables such as ${workspaceFolder} for the Azure: Location setting? Currently I have to hard code it absolutely for each workspace.

[2020-11-03 15:26] iBavtovich commented on #415
Hi @XiaoningLiu when do you think this fix can be ready? Or may be if you need help with it, I can fix it by myself?

[2020-11-04 00:57] aksingh004 commented on #596
Thank you for your response.
This is a good information and as you said that azurite is mainly for functionality testing, that answers the slow performance. There are some tests that we run against aws S3 (MinIO) and Azure (Azurite), they fail with timeout in case of azurite.

I am trying to implement your suggestion of running it with pm2 but I see problem in starting it in cluster mode, I read a

[2020-11-04 07:22] XiaoningLiu commented on #596
pm2 requires "cluster" mode instead of "fork" mode. Check https://stackoverflow.com/questions/49691848/express-server-port-configuration-issue-with-pm2-cluster-mode.

Azurite also requires an additional metadata store in order to share cross different instances. Set `AZURITE_DB` environment variable. See https://github.com/Azure/Azurite#customized-metadata-storage-by-external-database-preview It's

[2020-11-04 07:25] XiaoningLiu commented on #415
Hi @iBavtovich, sorry for the late response. Sure, welcome to open PR for the fix : )

[2020-11-04 07:29] XiaoningLiu commented on #605
Thanks for bring this up! Will take an investigation.

[2020-11-04 18:05] Jamess-Lucass opened #606 "Azurite | Durable functions not starting - The listener for function 'x' was unable to start."
### Which service(blob, file, queue, table) does this issue concern?
Queue (affects only durable functions though) normal queue trigger works fine

### Which version of the Azurite was used?
3.9.0

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
Used both npm & VSCode extension

### What's the Node.js version?
v12.13.0

### What problem was encountered?
When I s

[2020-11-05 00:10] aksingh004 commented on #596
I am now able to start Azurite in cluster mode with SQL metadata support using mysql database. However, it appears to be running into race condition? I see that in my test, if any blob is to be deleted, it runs into error with message "Internal Server Error" on Azurite but there is no such error if I run Azurite without sql metadata and cluster mode support.

Here is the nodejs script I created, p

[2020-11-05 03:28] XiaoningLiu commented on #606
Hi, some of Azure functions features requiring Table support. While Azurite Table is under development. Stay tuned : )

[2020-11-05 09:17] Jamess-Lucass commented on #606
Okay, thank you very much for a speedy reply :)

[2020-11-05 09:33] Jamess-Lucass commented on #606
Are you aware of any solution in the short term, I'm not sure if you know whether durable functions work with the legacy version of Azurite or not?

[2020-11-05 20:11] aksingh004 commented on #596
I looked further and found that azurite had not started in true cluster mode, even though "pm2 list" says online for all instances, but it is basically wrapper nodejs script (I pasted in my previous comment) which is running in cluster. This nodejs script calls a child process to start azurite and only one instance gets succeded in starting and other fails with port in use error as following

Erro

[2020-11-06 02:44] blueww commented on #606
@Jamess-Lucass

There might be no short term solution , and we need wait for table in Azurite V3.
For legacy version (v2) , it supports table, so in theory it supports Azure function, but not validated before.

[2020-11-08 00:19] JustinGrote opened #607 "VSCode Extension: Add "Start if not running" command"
I often make a dependent task for Azurite for my testing and launch tasks like so:

[code]

However this always throws a bunch of toast errors if Azurite is already running. If I had a `azurite.startifnotrunning` command that would suppress error notifications about it already being started and only show errors if it failed would be very helpful. Thanks!

[2020-11-09 03:09] XiaoningLiu commented on #607
Hi @JustinGrote, thanks for bringing up this. We will evaluate this in our furture releases. Also welcome anyone wants to contribute this!

[2020-11-11 19:06] cgillum opened #613 "Azurite v3 Tables (alpha.1) - Durable Functions fails to start (Unsupported Media Type)"
### Which service(blob, file, queue, table) does this issue concern?
Tables

### Which version of the Azurite was used?
azurite@3.9.0-table-alpha.1

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm install -g azurite@alpha

### What's the Node.js version?
v10.14.1

### Azure Storage SDK Version
Durable Functions on the latest version of the Azure Functions ru

[2020-11-12 02:28] XiaoningLiu commented on #613
Hi @cgillum Can you share the Azurite debug.log here?

According to https://docs.microsoft.com/en-us/rest/api/storageservices/payload-format-for-table-service-operations.

Azurite V3 Table targets API version from 2019-12-12, thus Atom payload is not supported.

[2020-11-12 03:25] XiaoningLiu commented on #613
Hi @cgillum Does this looks good?

![image](https://user-images.githubusercontent.com/6889160/98891721-bbab4900-24d9-11eb-9cc0-316241206449.png)

[2020-11-12 03:27] XiaoningLiu commented on #613
Failure reason is, the SDK you are using addes an additional space character in the accept parameter. Ideally azurite expects "application/json;odata=minimalmetadata" while SDK sends out "application/json; odata=minimalmetadata".

After updated Azurite to compatible with the addtional space. `func host start` starts successfully.

[2020-11-12 03:32] cgillum commented on #613
@XiaoningLiu yes, that looks better! I would need to investigate the blob lease operation failure warnings that you're seeing, but it looks like you progressed past the table creation operation.

[2020-11-12 03:38] command0r opened #614 "Azurite | Durable functions not starting - no connection could be made"
### Which service(blob, file, queue, table) does this issue concern?
Blob

### Which version of the Azurite was used?
Latest

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
Trying to use both Visual Studio Code Extension and npm

### What's the Node.js version?
14.5.0 (latest)

### What problem was encountered?
The listener for function 'Functions.<...>' was un

[2020-11-12 04:08] command0r commented on #614
I'm running Azurite in a debug mode and seeing quite interesting details... It seems it's erroring on the container creation?
`
2020-11-12T03:47:03.090Z 80d001a1-6c8c-4730-b71b-7d46ad8321e3 info: BlobStorageContextMiddleware: RequestMethod=PUT RequestURL=http://127.0.0.1/devstoreaccount1/azure-webjobs-secrets?restype=container RequestHeaders:{"x-ms-client-request-id":"c1d433d5-ee1d-4cdf-b58e-ef7b2

[2020-11-12 04:10] XiaoningLiu commented on #613
Created a PR  #615 for fix. Please build and start Azurite from table branch and try again after PR merged.

[2020-11-12 04:17] XiaoningLiu commented on #614
Durable functions requires Table, Table is under alpha ealry access versions.

Please get azurite from table branch (latest updates and fixes). Or from alpha tagged packages. For example, `npm install -g azurite@alpha`.

See #613, there is an known issue with durable function dpedending .net sdk. I have a PR for that, after PR merged, please try with codes from table branch.

[2020-11-12 04:19] XiaoningLiu commented on #614
BTW, posted blob error is expected if trying to create an container on existing container.

[2020-11-12 04:37] XiaoningLiu commented on #613
PR merged.

[2020-11-12 07:55] XiaoningLiu opened #618 "Lease reset when override blob"
https://github.com/Azure/Azurite/pull/617/files for fix

[2020-11-12 08:02] XiaoningLiu commented on #613
Fixed a lease management issue on table branch. Now the warnings all gone.

![image](https://user-images.githubusercontent.com/6889160/98911666-ee683800-24ff-11eb-90a5-4fc6e286947e.png)

[2020-11-12 13:48] sindre-nistad opened #619 "Is there a plan to offer similar functionallity for Key Vault?"
This is probably not the correct place to ask for it, but I don't know where else to put it.

Are there any plans to offer a similar service as Azureite for Key Vault? I see there are a couple of community efforts;
* [azure-keyvault-emulator](https://www.npmjs.com/package/azure-keyvault-emulator)
* [clocal-azure](https://lakindu95.github.io/clocal-azure)

[2020-11-12 18:08] command0r commented on #614
Thanks for your reply, @XiaoningLiu
Following your advice, I installed table alpha and the error message changed. Right now, the function doesn't even start displaying the following error: `"The listener for function 'Functions.<...>' was unable to start. Microsoft.WindowsAzure.Storage: Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly inclu

[2020-11-12 19:34] cgillum commented on #613
I can confirm that the latest build from the table branch resolves the startup issue. Thanks! This issue can be closed. I'll open new issues for subsequent blockers.

[2020-11-12 19:50] cgillum opened #620 "Batch [Durable Functions] Single entity Table query returns HTTP 400"
### Which service(blob, file, queue, table) does this issue concern?
Table

### Which version of the Azurite was used?
Latest from `table` branch (https://github.com/Azure/Azurite/commit/e99fa46807a8bc8449be77d3dc1e55a64c32a07c)

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
Local npm build, see above.

### What's the Node.js version?
v10.14.1

### What proble

[2020-11-12 20:46] laveeshb opened #621 "[Logic Apps] GET on table entity that does not exist fails with 409"
### Which service(blob, file, queue, table) does this issue concern?
Table

### Which version of the Azurite was used?
Latest from `table` branch (e99fa46807a8bc8449be77d3dc1e55a64c32a07c)

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
Local npm build, see above.

### What's the Node.js version?
v14.15.0

### What problem was encountered?
`GET` on a table enti

[2020-11-13 09:45] XiaoningLiu commented on #621
Hi @laveeshb, thanks for bringing this. Fix included in #622

[2020-11-13 09:47] XiaoningLiu commented on #620
Hi @cgillum, thanks for bringing this. Fix included in #622

After the fix, I think the function E1_HelloSequence should executed succesfully. But features requring Batch doesn't work because Batch support is still under development.

![image](https://user-images.githubusercontent.com/6889160/99058475-39ee1500-25d8-11eb-875f-41eebd883a50.png)

[2020-11-13 09:55] XiaoningLiu commented on #619
Thanks for bring up this. Currently Azurite are focusing on storage related services. But the V3 framework supports implementation other services simulation very easily. We will track the ask here and do further evaluation.

[2020-11-13 18:46] nelsonmorais commented on #613
@XiaoningLiu Will the docker images be updated as well? Which tag will contain this changes?
![image](https://user-images.githubusercontent.com/4737667/99109310-e801bb00-25e8-11eb-8236-3950f1257aa0.png)

[2020-11-13 21:04] laveeshb opened #623 "[Logic Apps] Updating an entity in table fails with 400"
### Which service(blob, file, queue, table) does this issue concern?
Table

### Which version of the Azurite was used?
Latest from `table` branch (c828ed057e03bbf6346b720fd30dfef8a2c5a55e)

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
Local `npm` build. Please see above.

### What's the Node.js version?
v14.15.0

### What problem was encountered?
Updating an

[2020-11-13 21:07] laveeshb commented on #621
@XiaoningLiu thanks for the fix. It works now.

[2020-11-14 01:03] cgillum commented on #620
@XiaoningLiu great! Yes, support for batch updates is an important but expected blocker for us. I look forward to the next release that has support for this.

[2020-11-16 07:57] XiaoningLiu commented on #614
@command0r Can you share your reproduce steps as mentioned in #613? I'd like to give it a try. Crerate container over existing container is expected to fail. Believe there are other things blocking you.

[2020-11-16 07:57] #618 closed

[2020-11-16 08:00] #621 closed

[2020-11-16 08:04] XiaoningLiu commented on #623
Hi @laveeshb

I noticed the 2nd request uses `X-HTTP-Method: MERGE` to override the HTTP method `post` in the request. While `X-HTTP-Method` is not supported yet. Will evaluate this.

Curious, are you using Azure Storage .Net SDK? The user agent `User-Agent: ResourceStack/6.0.0.1188` seems not. Is there any other option to switch to `PATCH` or `MERGE` without using `X-HTTP-METHOD`?

[2020-11-16 08:40] XiaoningLiu commented on #623
See #625 for x-HTTP-METHOD support https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-odata/bdbabfa6-8c4a-4741-85a9-8d93ffd66c41

[2020-11-16 12:10] sindre-nistad opened #628 "Latest docker image no longer found"
### Which service(blob, file, queue, table) does this issue concern?
All?

### Which version of the Azurite was used?
`latest`

### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
DockerHub

### What's the Node.js version?
Unknown

### What problem was encountered?
Trying to pull the image from DockerHub, but the `latest` tag was not found.
My exact use-case is with

[2020-11-16 22:22] command0r commented on #614
@XiaoningLiu, I have committed a 'template project' to a public GitHub repo [here](https://github.com/command0r/DurableFunction.git), just to make things easier in terms of repro steps. As mentioned, it's a Python-based Azure Durable Function and the logic in there is all that the Azure CLI creates by default (i.e. nothing extra, just for the clarity of the experiment). The connection strings are

[2020-11-16 22:32] iliuta opened #629 "unable to create blob: Server failed to authenticate request"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.9.0
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
DockerHub

### What problem was encountered?
[code]

As you can see, I am able to create a container but I am not able to write to the blob in the previously created container.

Later in my tes

[2020-11-17 08:10] iliuta commented on #629
Hi, I finally managed to have debug logs, by redrecting them to /dev/stdout:
[code]

[2020-11-17 11:02] iliuta commented on #629
Sorry for the spam, but it looks like in this situation the Java SDK does not produce the same signature for the HTTP call as Azurite.

Java SDK: com.azure.storage.common.StorageSharedKeyCredential#computeHmac256
Azurite: https://github.com/Azure/Azurite/blob/df5bf1dd57162f7722cc861124c9d7c6c9b71352/src/blob/authentication/BlobSharedKeyAuthenticator.ts

Now, where comes from the difference?

[2020-11-18 07:19] zzhxiaofeng opened #630 "Azurite doesn't support Create Blob with blob name that is empty string"
**Error Description:**
when create blob with blob name that is empty string in azurite, it will return an error as following:
![Screenshot 2020-11-18 142706](https://user-images.githubusercontent.com/20970631/99493425-27922380-29aa-11eb-9a2c-5c13b3a6367b.png)

**To Reproduce**
Please run the demo code as following:
[code]

**Error Track:**
1. When send request, Azurite will construct a pattern by

[2020-11-18 07:28] zzhxiaofeng opened #631 "The response returned in azurite doesn't have requestId field in Append Block operation on append blob"
**Error Description:**
When use append block operation, the requestId of response returned in Azurite is undefined.

**To Reproduce**
Please run the demo code as following:
[code]

**Error track:**
The reason maybe is that the response doesn't include requestId field in Azurite. the response is shown as following:
[https://github.com/Azure/Azurite/blob/master/src/blob/handlers/AppendBlobHandler.ts

[2020-11-18 08:04] zzhxiaofeng opened #632 "Azurite doesn't support Set Blob Tier operation on lease blob and snapshot blob."
**Error Description:**
when use Set Blob Tier operation with leaseId or snapshot, the parameter leaseId and snapshot will not processed in Blob Set Tier handler method in azurite.

 **Error Track:**
[https://github.com/Azure/Azurite/blob/master/src/blob/handlers/BlobHandler.ts#L872](https://github.com/Azure/Azurite/blob/master/src/blob/handlers/BlobHandler.ts#L872)
![Screenshot 2020-11-18 160216](

[2020-11-18 08:34] zzhxiaofeng opened #633 "Error status code of "ConditionNotMet" returned in azurite(304) is inconsistent with the one in azure cloud(412)."
**Error Description:**
When use blob service operation with invalid IfModifiedSince value(IfUnmodifiedSince, IfMatch and IfNoneMatch are null) of access condition, it will return the error "ConditionNotMet". However, error status code of "ConditionNotMet" returned in azurite(304) is inconsistent with the one in azure cloud(412). Please have a look.

**Error Track**
[https://github.com/Azure/Azurit

[2020-11-18 09:04] XiaoningLiu commented on #629
Hi @iliuta Interesting about "Those tests are running just fine on the local machine but, as soon as I execute them in the CI environment (gitlab), I run into "AuthorizationFailure"."

If that's true. Then believe the signauture logic between Azurite and Java SDK is same. It sounds like some thing happens on the proxy which changed some pieces of the request.

As you can see from the debug log, th

[2020-11-18 09:06] XiaoningLiu commented on #628
Typo in docker name. Should "azurite" instead of "azureite".

[2020-11-18 09:12] iliuta commented on #629
Hi @XiaoningLiu, thanks for the response!
It's true I have a proxy in CI/CD environment. However, the azurite host is added into nonProxyHosts env variable, therefore the communication is direct.
I checked the java source code for generating signature and it seems the same. But, at some moment there is a locale based sorting which I do not see in Azurite side. Tell me if I'm wrong.

I'll see to fi

[2020-11-18 09:22] XiaoningLiu commented on #629
Are you referring to sort like this in Azurite https://github.com/Azure/Azurite/blob/df5bf1dd57162f7722cc861124c9d7c6c9b71352/src/blob/authentication/BlobSharedKeyAuthenticator.ts#L191 ?

[2020-11-18 09:23] zzhxiaofeng opened #634 "Azurite doesn’t support error "CannotVerifyCopySource" in Copy Blob From URL operation on blob and the response of this operation lacks CopyStatus field"
**Error Description:**
1.When use Copy Blob From URL operation with invalid blob url, it should return the error "CannotVerifyCopySource". However, the Copy Blob From URL handler method in azurite don't have "CannotVerifyCopySource" and check the error. Please add the error into this operation.
2.When use Copy Blob From URL operation, the response should include CopyStatus field but azurite not. P

[2020-11-18 09:31] zzhxiaofeng opened #635 "The error message of error "LeaseNotPresentWithBlobOperation" in azurite is inconsistent with the one in azure cloud"
**Error Description:**
The error message of error "LeaseNotPresentWithBlobOperation" in azurite is inconsistent with the one in azure cloud.
Azurite error message: A lease ID was specified, but the lease for the blob has expired.
Azure error message: There is currently no lease on the blob.

**Error Track**
[https://github.com/Azure/Azurite/blob/master/src/blob/errors/StorageErrorFactory.ts#L390](

[2020-11-18 09:40] zzhxiaofeng opened #636 "Azurite doesn't support snapshot parameter in the Get Block List operation on block blob"
**Error Description:**
In Azure, it will return the error "InvalidQueryParameterValue" when use Get Block List operation with invalid snapshot.
But in Azurite, it can get block list successfully in this case.
Azure error is shown as following:
![Screenshot 2020-11-23 172529](https://user-images.githubusercontent.com/20970631/100210493-026f5900-2f46-11eb-9014-cefdeaeabc73.png)

**To Reproduce**
Ple

[2020-11-18 10:34] iliuta commented on #629
Thanks, it looks like. I haven't seen it before.

On the java side there is this method:
[code]

I can't figure why the result is different. The headers look the same on both sides ...

[2020-11-18 11:31] sindre-nistad commented on #628
That solved the issue for me.

Though I thought I had the same problem, after copy/paste [the command in the documentation](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite#install-and-run-the-azurite-docker-image), but that too (now) works as expected.

[2020-11-18 12:07] zzhxiaofeng opened #637 "The error returned in azurite is inconsistent with the one in azure cloud when use blob service SAS to create container"
**Error Description:**
The error returned in azurite is inconsistent with the one in  azure cloud when use SAS which just support blob operation to create container
Azurite error: AuthorizationPermissionMismatch.
Azure error: AuthorizationFailure.

**Error Track:**
[https://github.com/Azure/Azurite/blob/master/src/blob/authentication/BlobSASAuthenticator.ts#L304](https://github.com/Azure/Azurite/b

[2020-11-18 12:48] zzhxiaofeng opened #638 "Azurite doesn't support permissions property of accessPolicy parameter is null or undefined in Set ACL operation on container."
**Error Description:**
When use Set ACL operation without permissions on container, Azurite will return an error as following:
![Screenshot 2020-11-18 204618](https://user-images.githubusercontent.com/20970631/99532410-3810c100-29df-11eb-8b16-7e2a4a1cd731.png)

**To Reproduce**
Please run the demo code as following:
[code]

@jongio for notification.

[2020-11-18 13:08] #628 closed

[2020-11-18 21:52] asears opened #639 "Azurite in Azure Devops Pipeline"
### Which service(blob, file, queue, table) does this issue concern?
blob
### Which version of the Azurite was used?
3.9.0
### Where do you get Azurite? (npm, DockerHub, NuGet, Visual Studio Code Extension)
npm
### What's the Node.js version?

### What problem was encountered?

Emulator & C# XUnit test is working locally.  Test is failing in Devops pipeline.  Looking for minimal example of install

[2020-11-19 01:41] zzhxiaofeng opened #640 "Azurite doesn't check if the page range specified is valid when perform operations on pageblob"
**Error Description:**
In Azure, it will return error "InvalidPageRange" when use Clear Pages, Get Page Ranges and Upload Pages operation with invalid page range on page blob.
But in Azurite, it will perform operations successfully in this case.
Azure error is shown as following:
![Screenshot 2020-11-19 093850](https://user-images.githubusercontent.com/20970631/99609527-0d5c5200-2a4b-11eb-9622-2ae

[2020-11-19 01:55] zzhxiaofeng opened #641 "The error returned in azurite is inconsistent with the one in azure cloud when create and resize page blob with invalid page size."
**Error Description:**
The error returned in azurite is inconsistent with the one in azure cloud when create and resize page blob with invalid page size.
In azure, the error is shown as following:
![Screenshot 2020-11-19 094736](https://user-images.githubusercontent.com/20970631/99610203-51038b80-2a4c-11eb-9742-91a1d2be868e.png)
In azurite, the error is shown as following:
![Screenshot 2020-11-19

[2020-11-19 02:03] zzhxiaofeng opened #642 "Azurite doesn't support Set Access Tier operation on page blob"
**Error Description:**
When use Set Access Tier operation on page blob, Azurite will return an error as following:
![Screenshot 2020-11-19 100127](https://user-images.githubusercontent.com/20970631/99611249-49dd7d00-2a4e-11eb-90b5-440579ad5899.png)

**To Reproduce**
[code]

@jongio for notification.

[2020-11-19 02:13] zzhxiaofeng opened #643 "Azurite doesn't check if the parameter sequenceNumber is valid when use Update Sequence Number operation on page blob."
**Error Description:**
When use Update Sequence Number operation with invalid sequenceNumber, Azurite don' return error "InvalidHeaderValue" like azure. The error is shown as following:
![Screenshot 2020-11-19 100728](https://user-images.githubusercontent.com/20970631/99611948-8e1d4d00-2a4f-11eb-8531-dc818679b4c7.png)

**To Reproduce**
The demo code is shown as following:
[code]

@jongio for notif

[2020-11-19 02:27] zzhxiaofeng opened #644 "Azurite doesn't check if continuationToken is valid when use List Containers operation on blob service"
**Error Description:**
When use List Containers operation with invalid continuationToken on blob service, Azurite doesn't return the error "OutOfRangeInput" like azure. The error is shown as following:
![Screenshot 2020-11-19 102408](https://user-images.githubusercontent.com/20970631/99612962-a68e6700-2a51-11eb-91c9-5aedb7ac09f9.png)

**To Reproduce**
The demo code is shown as following:
[code]

@

[2020-11-19 02:43] XiaoningLiu commented on #629
Can you try to print out the Java SDK's string to sign? As Java SDK is open source, believe you can modify their code for the print out if Java SDK doesn't have default logging for that.

[2020-11-19 03:14] blueww commented on #639
@asears
From the current information, we don't find obvious hint for this issue.
Would you please share the Azurite debug log, then we might can get more hints.

Besides that, we also test Azurite through Devops pipeline, you might can reference it:
Config: https://github.com/Azure/Azurite/blob/master/azure-pipelines.yml
Oauth test case: https://github.com/Azure/Azurite/blob/master/tests/blob/oaut

[2020-11-19 03:20] blueww commented on #630
@zzhxiaofeng
Thanks for raising the issue!
We will evaluate it.

We welcome contribution to Azurite.
It would be great if you could contribute the the fix of this issue.

[2020-11-19 03:21] blueww commented on #631
@zzhxiaofeng
Thanks for raising the issue!
We will evaluate it.

We welcome contribution to Azurite.
It would be great if you could contribute the the fix of this issue.

[2020-11-19 03:22] blueww commented on #632
@zzhxiaofeng
Thanks for raising the issue!
We will evaluate it.

We welcome contribution to Azurite.
It would be great if you could contribute the the fix of this issue.

[2020-11-19 03:23] blueww commented on #633
@zzhxiaofeng
Thanks for raising the issue!
We will evaluate it.

We welcome contribution to Azurite.
It would be great if you could contribute the the fix of this issue.

[2020-11-19 03:26] blueww commented on #634
@zzhxiaofeng
Thanks for raising the issue! It would be great if you can include the current Azurite behavior to this issue, then we can know the severity of the issue.
We will investigate and evaluate the issue.

We welcome contribution to Azurite.
It would be great if you could contribute the the fix of this issue.

[2020-11-19 03:35] blueww commented on #635
@zzhxiaofeng
Thanks for raising the issue!
We will evaluate it.

We welcome contribution to Azurite.
It would be great if you could contribute the the fix of this issue.

[2020-11-19 03:36] blueww commented on #636
@zzhxiaofeng
Thanks for raising the issue!
We will evaluate it.

We welcome contribution to Azurite.
It would be great if you could contribute the the fix of this issue.

[2020-11-19 03:37] blueww commented on #637
@zzhxiaofeng
Thanks for raising the issue!
We will evaluate it.

We welcome contribution to Azurite.
It would be great if you could contribute the the fix of this issue.

[2020-11-19 03:49] blueww commented on #638
@zzhxiaofeng
Thanks for raising the issue!
IT would be better if you can include the server behavior and the Azurite behavior diffrence to end user with the same input, then we can know the severity of this issue. (Per my test, Azure server and Azurite seems behavior same.)

We will evaluate it, after you confirm the difference of Azure server and Azurite behavior on this.

[2020-11-19 03:54] blueww commented on #640
@zzhxiaofeng
Thanks for raising the issue!
Currently Azure Server will fail on the Clear Pages request with invalid range, but Azurite will not return error on it.
We will investigate and evaluate the issue.

We welcome contribution to Azurite.
It would be great if you could contribute the the fix of this issue.

[2020-11-19 03:59] blueww commented on #641
@zzhxiaofeng
Thanks for raising the issue!
We will evaluate it.

We welcome contribution to Azurite.
It would be great if you could contribute the the fix of this issue.

[2020-11-19 04:08] blueww commented on #642
@zzhxiaofeng
Thanks for raising this issue?
Set tier on page blob, is only supported on premium storage account , see https://docs.microsoft.com/en-us/rest/api/storageservices/set-blob-tier.

Azurite is a standard storage account, so it does not support set tier on page blob. (Premium account support page blob, does not support block blob, queue).
If you don't have other comments, would you like t

[2020-11-19 04:11] blueww commented on #643
@zzhxiaofeng
Thanks for raising the issue!
We will evaluate it.

We welcome contribution to Azurite.
It would be great if you could contribute the the fix of this issue.

[2020-11-19 04:12] blueww commented on #644
@zzhxiaofeng
Thanks for raising the issue!
We will evaluate it.

We welcome contribution to Azurite.
It would be great if you could contribute the the fix of this issue.

[2020-11-19 04:13] #642 closed

[2020-11-19 06:57] zzhxiaofeng commented on #634
@blueww Ok, I have updated the error description. Please have a look.

[2020-11-19 08:11] blueww commented on #634
Thanks for the reply @zzhxiaofeng！
For "return nothing in Azurite", do you mean Azurite will not return error, also not return any responds?
Could you please clarify?

BTW, for Azurite issue, it's better to attach the debug log for the related request.
For Azurite behavior different with Azure Server, beside debug log, please also describe clearly the different behavior of both Azurite and Azure s